<!-- KPI Modal -->
<dialog kpi-modal class="kpi-modal" id="kpi-modal">
    <span class="close_button" onclick="closeModal()"><img class="close_icon" style="width: 3vh;display: block;margin-left: 18%;margin-top: 20%;" src="/static/images/buttons/close-icon-white.png"></span>
    <span class="share_button" onclick="copyElementAsPngToClipboard('kpi-modal')" style="padding: .6vw;"><p style="font-size: 2vw;">שתף</p><img class="close_icon" style="width: 3.5vh;display: block;margin-top: 2%;" src="/static/images/buttons/share-icon-white.png"></span>
    <a id="kpi-source-link" href="#" target="_blank"><span class="source-span" style="padding: .6vw;">מקור</span></a>

    <div class="modal-content">
        <table class="modal-info-table">
            <tr>
                <th style="width: 25%;">
                </th>
                <th style="width: 40%;">
                    <p id="modal-info-kpi" style="font-size: 3vh; float: right;"></p>
                </th>
                <th style="padding: 0; height: 100%; float: right;margin:0;">
                    <div id="line" style="width: 100%;height: 4vh; border-bottom: .4vh solid #4890FD;position: relative;">
                        <span style=" bottom: 0;right: 0;"><p id="modal-office-kpi" style="font-size: 4vh; padding: 0;line-height: .9;"><p></span>
                    </div>
                    <p id="modal-name-kpi" style="float: right; margin: 0;padding: 0; font-size: 3.4vh;line-height: 1;"></h3>
                </th>
                <th  style="width: 5%; margin:0;padding: 0; ">
                    <span id="modal-bubble-kpi" style="margin: 0;height: 6vw;width: 6vw; background: radial-gradient(#6ba4fa, #447dd3); border-radius: 50%;float: left;margin-top: 2vh;">
                        <img class="bubble_icon large_icon" id="modal-icon-kpi" src="/static/images/offices/kpi/white_bag.png">
                    </span>
                </th>
            </tr>
        </table>
      
        <div id="graph_div_kpi" class="chart-div">
            <canvas class="chart" id="kpi_chart"></canvas>
        </div>
        <div class="timeline-container">
            <div id="timeline" class="timeline"></div>        
        </div>

    </div>
    <!-- copy image message -->
    <div class="share-message" id="share-message">
        <img src="static/images/icons/green-check.svg">
        <p id="popupMessage">!הגרף הועתק בהצלחה</p>
    </div>

    <script>
    function closeMessage() {
        const modal = document.getElementById('share-message');
        modal.style.display = 'none';    }
    
    // Function to show the modal
    function showMessage() {
        const modal = document.getElementById('share-message');
        modal.style.display = 'block';

        // Optional: Auto-close after 3 seconds
        setTimeout(() => {
            closeMessage();
        }, 2000); // Closes the modal after 3 seconds
    }
    </script>
    
</dialog>
