<!-- OFFICE Modal -->
<dialog office-modal class="office-modal" id="office-modal">
    <div class="btns-div">
        <span class="close_button" onclick="closeOfficeModal()"><img class="close_icon" style="width: 3vh;display: block;margin-left: 18%;margin-top: 20%;" src="/static/images/buttons/close-icon-white.png"></span>
        <span class="share_button" onclick="copyElementAsPngToClipboard('office-modal')" style="padding: .6vw;"><p style="font-size: 2vw;">שתף</p><img class="close_icon" style="width: 3.5vh;display: block;margin-top: 2%;" src="/static/images/buttons/share-icon-white.png"></span>    
    </div>
   
    <div class="modal-content">
        <!-- header table -->
        <table class="modal-info-table">
            <tr>
                <th style="width: 25%;"></th>
                <th style="width: 40%;">
                </th>
                <th style="padding: 0; height: 100%; float: right;margin:0;">
                    <div id="line" style="width: 100%;height: 4vh; border-bottom: .4vh solid #4890FD;position: relative;">
                        <span style=" bottom: 0;right: 0;"><p id="modal-name-office" style="font-size: 4vh; padding: 0;line-height: .9;"><p></span>
                    </div>
                    <p id="modal-ministerName-office" style="float: right; margin: 0;padding: 0; font-size: 3.4vh;line-height: 1;"></h3>
                </th>
                <th  style="width: 5%; margin:0;padding: 0; ">
                    <span id="modal-img-office">
                    </span>
                </th>
            </tr>
        </table>

        <div class="office-content">
            <table class="office-info-table">
                <tr >
                    <td style="width: 65%; height: 100%;">
                        <div class="office-bubbles" id="office-bubbles">
                            {{ render_modal_bubbles(offices[1], second_office_cells, "office-modal-position", "main_upper_right") }}

                        </div>
                    </td>
                    <td style="width: 35%; height: 100%; vertical-align: top;">
                        <div class="office-info">
                            <p id="office-info-p"></p>
                        </div>
                        <div class="office-branches" id="office-branches">
                         
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- copy image message -->
        <div class="share-message" id="share-message">
            <img src="static/images/icons/green-check.svg">
            <p id="popupMessage">!הגרף הועתק בהצלחה</p>
        </div>
        <!-- timeline -->
        <div id="timeline-office" class="timeline office"></div>    
        
    </div>
    <div class="news-feed">
        <rssapp-wall id="CbqVitvqTAX59Bdv"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
    </div>

</dialog>
