
<link rel="stylesheet" href="{{ url_for('static', filename='offices_style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>

<span class="explain_span" onclick="openExplainModal()"><img class="explain_icon" style="width: 2vw;display: block;margin: auto;margin-top: 15%;" src="/static/images/offices/question_mark.png"></span>

<!-- office modal cells function -->
{% macro render_modal_bubbles(office, office_cells, position, main_bubble_id, border_style) %}
<table class="{{ position }}" style="{{ border_style }}">
    {% for row in office_cells %}
    <tr>
        {% for cell in row %}
            {% if cell.cell_type == "space" %}
                <td></td>
            {% elif cell.cell_type == "main_bubble" %}
                <td></td>
            {% else %}
                <td>
                    <div class="transform_div">
                        <span class="{{ cell.size }} {% if cell.alert %} alert_bubble {% else %} {{ cell.cell_type }} {% endif %}"
                                {% if cell.name !="" %}
                                    data-tooltip="{{ cell.name }}"
                                {% endif %}
                                {% if cell.alert %}
                                    data-alert="{{cell.alert}}"
                                {% endif %}
                                data-name="{{ cell.name }}"
                                data-info="{{ cell.info }}"
                                data-source="{{ cell.source }}"
                                data-icon="{{ cell.icon }}"
                                data-chart="{{ cell.chart_type }}"
                                data-labels="{{ cell.labels }}"
                                data-values="{{ cell.values | tojson }}"
                                data-position="{{ position }}"

                                office-name="{{ office['name'] }}"
                                office-minister="{{ office['minister_name'] }}"
                                office-minister-image="{{ office['minister_image'] }}"
                                office-minister-party="{{ office['minister_party'] }}"
                                office-minister-role="{{ office['minister_role'] }}"
                                office-minister-history="{{ office['ministers_history'] }}"

                                onclick="openModal(this)">
                            {% if cell.icon %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="{{ cell.icon }}" alt="{{ cell.name }}">
                            {% else %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="/static/images/offices/{% if cell.cell_type == 'kpi' %}/white_bag.png{% else %}/grey_bag.png{% endif %}" alt="{{ cell.name }}">
                            {% endif %}
                        </span>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}

<!-- main table cells function -->
{% macro render_office(office, office_cells, position, main_bubble_id, border_style) %}
<table class="{{ position }}" style="{{ border_style }}">
    {% for row in office_cells %}
    <tr>
        {% for cell in row %}
            {% if cell.cell_type == "space" %}
                <td></td>
            {% elif cell.cell_type == "main_bubble" %}
                <td>
                    <div class="transform_div-main">
                        <span class="main_bubble" id="{{ main_bubble_id }}" 
                            data-tooltip="{{ office['name'] }}"
                                data-name="{{ office['name'] }}"
                                data-info="{{ office['info'] }}"
                                data-minister-name="{{ office['minister_name'] }}"
                                data-minister-image="{{ office['minister_image'] }}"
                                data-minister-party="{{ office['minister_party'] }}"
                                data-minister-role="{{ office['minister_role'] }}"
                                data-minister-history="{{ office['ministers_history'] }}"
                                data-office-branches="{{ office['branches'] }}"
                                data-news-feed-id="{{ office['news_feed_id'] }}"
                                data-id="{{ office['id'] }}"
                                style="background-image: url('{{ url_for('static', filename=office['minister_image'].replace('static/', '').replace('\\', '/')) }}');"
                                onclick="openOfficeModal(this)">
                        </span>
                    </div>
                </td>
            {% else %}
                <td>
                    <div class="transform_div">
                        <span class="{{ cell.size }} {% if cell.alert %} alert_bubble {% else %} {{ cell.cell_type }} {% endif %}"
                                {% if cell.name !="" %}
                                    data-tooltip="{{ cell.name }}"
                                {% endif %}
                                {% if cell.alert %}
                                    data-alert="{{cell.alert}}"
                                {% endif %}
                                data-name="{{ cell.name }}"
                                data-info="{{ cell.info }}"
                                data-source="{{ cell.source }}"
                                data-icon="{{ cell.icon }}"
                                data-chart="{{ cell.chart_type }}"
                                data-labels="{{ cell.labels }}"
                                data-values="{{ cell.values | tojson }}"
                                data-news-feed-id="{{ cell.news_feed_id }}"

                                office-name="{{ office['name'] }}"
                                office-minister="{{ office['minister_name'] }}"
                                office-minister-image="{{ office['minister_image'] }}"
                                office-minister-party="{{ office['minister_party'] }}"
                                office-minister-role="{{ office['minister_role'] }}"
                                office-minister-history="{{ office['ministers_history'] }}"
                                onclick="openModal(this)">
                            {% if cell.icon %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="{{ cell.icon }}" alt="{{ cell.name }}">
                            {% else %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="/static/images/offices/{% if cell.cell_type == 'kpi' %}/white_bag.png{% else %}/grey_bag.png{% endif %}" alt="{{ cell.name }}">
                            {% endif %}
                        </span>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}

<table id="main_table">
    <tr>
        <td>{{ render_office(offices[0], first_office_cells, "up-left", "main_upper_left", "border-right: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to bottom, #fff,  #838383);") }}</td>
        <td>{{ render_office(offices[1], second_office_cells, "up-right", "main_upper_right", "border-bottom: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to right, #838383, #f2f2f2);") }}</td>
    </tr>
    <tr>
        <td>{{ render_office(offices[2], third_office_cells, "down-left", "main_bottom_left", "border-top: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to left, #838383, #f2f2f2);") }}</td>
        <td>{{ render_office(offices[3], forth_office_cells, "down-right", "main_bottom_right", "border-left: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(#838383, #f2f2f2);") }}</td>
    </tr>
</table>

<!-- Kpi Modal -->
{% include 'offices-screen/kpi-modal.html' %}

<!-- Policies Modal -->
{% include 'offices-screen/policy-modal.html' %}

<!-- Office Modal -->
{% include 'offices-screen/office-modal.html' %}

<!-- Info Modal -->
{% include 'offices-screen/info-modal.html' %}



<script src="static\js\party_colors.js" defer></script> <!-- get the party color -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- graph library js -->
<script src="static\js\create-timeline.js" defer></script> <!-- create Timeline -->
<script src="static\js\share-chart.js" defer></script> <!-- create png file to share -->

<!-- Script -->
<script>
    const kpiModal = document.querySelector("[kpi-modal]");
    const policiesModal = document.querySelector("[policies-modal]");
    const infoModal = document.querySelector("[info-modal]");
    const officeModal = document.querySelector("[office-modal]");
    // Store charts in a global object to manage them easily
    const charts = {};

    function closeModal() {
        kpiModal.close();
        policiesModal.close();
        infoModal.close();

        // Destroy all active charts to clear data
        if (charts["kpi_chart"]) {
            charts["kpi_chart"].destroy();
            delete charts["kpi_chart"];
        }
        if (charts["policies_chart"]) {
            charts["policies_chart"].destroy();
            delete charts["policies_chart"];
        }
    }
    // Function to close the office modal
    function closeOfficeModal() {
        officeModal.close();

    }
    // Function to generate branches HTML
    function generateBranches(branches) {
        const branchesContainer = document.getElementById('office-branches');
        branchesContainer.innerHTML = ''; // Clear existing branches
        branches.forEach(branch => {
            const branchDiv = document.createElement('div');
            branchDiv.className = 'branch';
            
            const branchContentDiv = document.createElement('div');
            branchContentDiv.className = 'branch-content';
            
            const branchP = document.createElement('p');
            branchP.textContent = branch['name'];
            
            const branchImg = document.createElement('img');
            branchImg.src = branch['image'];
            branchImg.className = 'branch-img';
            
            branchContentDiv.appendChild(branchP);
            branchContentDiv.appendChild(branchImg);
            branchDiv.appendChild(branchContentDiv);
            branchesContainer.appendChild(branchDiv);
        });
    }
  
    function scrollToTop(modal) {
        modal.scrollTop = 0;
    }

    async function openOfficeModal(mainBubbleCell) {
        // get the data from the main bubble
        const name = mainBubbleCell.getAttribute("data-name");
        const info = mainBubbleCell.getAttribute("data-info");
        const minister_name = mainBubbleCell.getAttribute("data-minister-name");
        let minister_image = mainBubbleCell.getAttribute("data-minister-image");
        const minister_party = mainBubbleCell.getAttribute("data-minister-party");
        const minister_role = mainBubbleCell.getAttribute("data-minister-role");
        const ministers_history = JSON.parse(mainBubbleCell.getAttribute("data-minister-history"));
        const branches = JSON.parse(mainBubbleCell.getAttribute("data-office-branches"));
        const position = mainBubbleCell.getAttribute("data-position");
        const office_news_id = mainBubbleCell.getAttribute("data-news-feed-id");
        const office_id = mainBubbleCell.getAttribute("data-id");
        
        // Ensure the URL is correctly formatted
        minister_image = minister_image.replace(/\\/g, '/');
        minister_image = `/static/${minister_image.replace(/^static\//, '')}`; // Ensure correct URL
        minister_image = encodeURI(minister_image); // Encode Hebrew characters and spaces


        // Set the background image
        const image = document.getElementById("modal-img-office");
        image.style.backgroundImage = `url(${minister_image})`;
        image.style.backgroundPosition = 'center'; // Center the image
        
        // Call the function with the office branches
        generateBranches(branches);

        
        // get the timeline data
        let first_graph_date = ministers_history[0]["start_date"];
        let today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format

        // Ensure the last minister's end_date is set to today if not already
        if (ministers_history[ministers_history.length - 1]["end_date"] === null) {
            ministers_history[ministers_history.length - 1]["end_date"] = today;
        }

        let totalDuration = Date.parse(today) - Date.parse(first_graph_date);
        let dates = [];
        // Insert all the ministers' start dates into the array
        for (let i = 0; i < ministers_history.length; i++) {
            dates[i] = ministers_history[i]["start_date"];
        }
        let labels = dates;        

        // call the function to create the timeline
        createTimeline(ministers_history, totalDuration, first_graph_date, labels, dates, 'office');
        
        // set the office info in the modal
        document.getElementById("modal-name-office").textContent = name;
        document.getElementById("modal-ministerName-office").textContent = minister_name;
        document.getElementById("office-info-p").textContent = info;
        
        
        // Fetch and insert the rendered bubbles
        const officeBubblesContainer = document.getElementById('office-bubbles');
        const response = await fetch('/render_bubbles', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ office_id: office_id })
        });
        const bubblesHtml = await response.text();
        officeBubblesContainer.innerHTML = bubblesHtml;
        
        // set the feed news id for the office
        const newsFeed = document.getElementById("news-feed");
        newsFeed.innerHTML = `<rssapp-wall id="${office_news_id}"></rssapp-wall>`;

        // Create and append the script element
        const script = document.createElement("script");
        script.src = "https://widget.rss.app/v1/wall.js";
        script.type = "text/javascript";
        script.async = true;
        newsFeed.appendChild(script);
        
        // open the modal
        officeModal.showModal();

        // Scroll to the top of the modal
        scrollToTop(officeModal);
    }
    
    function openModal(cellElement) {
        // index info
        const name = cellElement.getAttribute("data-name");
        const info = cellElement.getAttribute("data-info");
        const source = cellElement.getAttribute("data-source");
        const chart = cellElement.getAttribute("data-chart");
        const icon = cellElement.getAttribute("data-icon");
        const alert = cellElement.getAttribute("data-alert");
        const labels = JSON.parse(cellElement.getAttribute("data-labels"));
        const values = JSON.parse(cellElement.getAttribute("data-values"));
        const newsFeedId = cellElement.getAttribute("data-news-feed-id");

        // office info
        const office_name = cellElement.getAttribute("office-name");
        const minister_name = cellElement.getAttribute("office-minister");
        const minister_image = cellElement.getAttribute("office-minister-image");
        const minister_party = cellElement.getAttribute("office-minister-party");
        const office_minister_role = cellElement.getAttribute("office-minister-role");

        // timeline info
        const ministers_history = JSON.parse(cellElement.getAttribute("office-minister-history"));
        const totalDuration = Date.parse(labels[labels.length - 1]) - Date.parse(labels[0]);
        const totalDuration1 = Date.parse(ministers_history[ministers_history.length - 1]["start_date"]) - Date.parse(ministers_history[0]["start_date"]);

        const dates = [];
        // Instert all the ministers first dates into array
        for (let i = 0; i < ministers_history.length; i++) {
                    dates[i] = ministers_history[i]["start_date"];  
                }


        // call the function to create the timeline
        let first_graph_date = labels[0];
        

        // modals objects
        if (cellElement.classList.contains('kpi') || cellElement.classList.contains('alert_bubble')) {
            document.getElementById("modal-name-kpi").textContent = name;
            document.getElementById("modal-info-kpi").textContent = info;
            document.getElementById("modal-office-kpi").textContent = office_name;
            document.getElementById("modal-icon-kpi").src = icon;

            if (alert){
                kpiModal.style.borderColor = '#ee3f33';
                document.getElementById("modal-bubble-kpi").style.background = 'radial-gradient(#ff5d5d, #ee3f33)';
                document.getElementById("line").style.borderColor = '#ee3f33';
            } else{
                kpiModal.style.borderColor = '#4890FD';
                document.getElementById("modal-bubble-kpi").style.background = 'radial-gradient(#6ba4fa, #447dd3)';
                document.getElementById("line").style.borderColor = '#4890FD';
            }


            if(source == 'None'){
                document.getElementById("kpi-source-link").style.display = 'None';
            } else {
                document.getElementById("kpi-source-link").style.display = 'block';
                document.getElementById("kpi-source-link").href = source;
            }
            
            createTimeline(ministers_history, totalDuration,first_graph_date,labels,dates,'kpi');

            // set the feed news id for the office
            if (newsFeedId != ''){
                const newsFeed = document.getElementById("news-feed-kpi");
                newsFeed.innerHTML = `<rssapp-wall id="${newsFeedId}"></rssapp-wall>`;

                // Create and append the script element
                const script = document.createElement("script");
                script.src = "https://widget.rss.app/v1/wall.js";
                script.type = "text/javascript";
                script.async = true;
                newsFeed.appendChild(script);
            } else {
                // Clear the news feed content if there's no newsFeedId
                const newsFeed = document.getElementById("news-feed-kpi");
                newsFeed.innerHTML = '';
            }
            

            updateChart("kpi_chart", labels, values, chart, name);
            kpiModal.showModal();
 
        } else if (cellElement.classList.contains('policy')) {
            document.getElementById("modal-name-policy").textContent = name;
            document.getElementById("modal-info-policy").textContent = info;
            document.getElementById("modal-office-policy").textContent = office_name;
            document.getElementById("modal-icon-policy").src = icon;
            
            if(source == 'None'){
                document.getElementById("policy-source-link").style.display = 'None';
            } else {
                document.getElementById("policy-source-link").style.display = 'block';
                document.getElementById("policy-source-link").href = source;
            }
            createTimeline(ministers_history, totalDuration,first_graph_date,labels,dates,'policy');

            // set the feed news id for the office
            if (newsFeedId != ''){
                const newsFeed = document.getElementById("news-feed-policy");
                newsFeed.innerHTML = `<rssapp-wall id="${newsFeedId}"></rssapp-wall>`;

                // Create and append the script element
                const script = document.createElement("script");
                script.src = "https://widget.rss.app/v1/wall.js";
                script.type = "text/javascript";
                script.async = true;
                newsFeed.appendChild(script);
            } else {
                // Clear the news feed content if there's no newsFeedId
                const newsFeed = document.getElementById("news-feed-policy");
                newsFeed.innerHTML = '';
            }

            updateChart("policies_chart", labels, values, chart, name);
            policiesModal.showModal();
        }
    }
    function getFontSize() {
        return Math.max(window.innerHeight * 0.02, 12); // Example: 2% of viewport height, minimum 12px
    }
    
    function updateChart(chartId, labels, values, chart, name, dates) {
        // Destroy existing chart if it exists
        if (charts[chartId]) {
            charts[chartId].destroy();
        }

        // Calculate min and max for line charts
        let yMin = undefined;
        let yMax = undefined;
        if (chart === 'line') {
            const maxValue = Math.max(...values);
            const minValue = Math.min(...values);
            const range = maxValue - minValue;
            // Add 50% of the range both above and below
            yMax = Math.ceil(maxValue + (range * 0.5));
            yMin = Math.max(0, Math.floor(minValue - (range * 0.5))); // Ensure we don't go below 0
        }

        const ctx = document.getElementById(chartId).getContext("2d");
        charts[chartId] = new Chart(ctx, {
            type: chart,
            data: {
                labels: labels,
                datasets: [{
                    label: name,
                    data: values,
                    fill: true,
                    borderColor: "#4890FD",
                    backgroundColor: "rgb(208, 226, 252, 0.5)",
                    borderWidth: 2,
                    lineTension: 0.4
                }]
            },
            options: {
                responsive: true,
                plugins: { legend: { display: false } },
                scales: { 
                    x: { 
                        grid: { 
                            display: false 
                        },
                        ticks: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    y: {
                        min: yMin,
                        max: yMax,
                        ticks: {
                            font: {
                                size: 12
                            },
                            callback: function(value, index, values) {
                                // Helper function to format numbers with decimals
                                const formatWithDecimals = (num) => {
                                    const formatted = Number(num).toFixed(1);
                                    return formatted.endsWith('.0') ? formatted.slice(0, -2) : formatted;
                                };

                                if (value >= 1000000000000) {
                                    return formatWithDecimals(value / 1000000000000) + 'T';
                                } else if (value >= 1000000000) {
                                    return formatWithDecimals(value / 1000000000) + 'B';
                                } else if (value >= 1000000) {
                                    return formatWithDecimals(value / 1000000) + 'M';
                                } else if (value >= 1000) {
                                    return formatWithDecimals(value / 1000) + 'K';
                                }
                                return formatWithDecimals(value);
                            }
                        }
                    }
                }
            }
        });
    }

    function openExplainModal(){
        infoModal.showModal();
    }

</script>