<!-- KPI Modal -->
<dialog policies-modal class="policies-modal" id="policy-modal">
    <div class="btns-div">
        <span class="close_button" onclick="closeModal()"><img class="close_icon" style="width: 3vh;display: block;margin-left: 18%;margin-top: 20%;" src="/static/images/buttons/close-icon-white.png"></span>
        <span class="share_button" onclick="copyElementAsPngToClipboard('policy-modal')" style="padding: .6vw;"><p style="font-size: 2vw;">שתף</p><img class="close_icon" style="width: 3.5vh;display: block;margin-top: 2%;" src="/static/images/buttons/share-icon-white.png"></span>
        <a id="policy-source-link" href="#" target="_blank"><span class="source-span-p" style="padding: .6vw;">מקור</span></a>
    </div>

    <div class="modal-content">
        <table class="modal-info-table">
            <tr>
                <th style="width: 25%;">
                </th>
                <th style="width:30%;">
                    <p id="modal-info-policy" style="font-size: 3vh; float: right;"></p>
                </th>
                <th style="padding: 0; height: 100%; float: right;margin:0;">
                    <div style="width: 100%;height: 4vh; border-bottom: .4vh solid #c3c3c3;position: relative;">
                        <span style=" bottom: 0;right: 0;"><p id="modal-office-policy" style="font-size: 4vh; padding: 0;line-height: .9;"></p></span>
                    </div>
                    <p id="modal-name-policy" style="float: right; margin: 0;padding: 0; font-size: 3.4vh;line-height: 1;"></p>
                </th>
                <th  style="width: 5%; margin:0;padding: 0; ">
                    <span style="margin: 0;height: 6vw;width: 6vw; background: radial-gradient(#e3e3e3, #c3c3c3); border-radius: 50%;float: left;position: absolute; top: 10; right: 7;">
                        <img class="bubble_icon large_icon" id="modal-icon-policy" src="/static/images/offices/kpi/white_bag.png">
                    </span>
                </th>
            </tr>
        </table>
      
        <div id="graph_div_kpi" class="chart-div">
            <canvas class="chart" id="policies_chart"></canvas>
        </div>
        
        <!-- Timeline Container -->
        <div class="timeline-container">
            <div id="timeline-p" class="timeline"></div>
        </div>
        
        <div class="news-feed" id="news-feed-policy">
            <!-- News feed will be dynamically inserted here -->
        </div>
    </div>
       <!-- copy image message -->
       <div class="share-message" id="share-message-p">
        <img src="static/images/icons/green-check.svg">
        <p id="popupMessage">!הגרף הועתק בהצלחה</p>
    </div>

    <script>
    function closeMessageP() {
        const modal = document.getElementById('share-message-p');
        modal.style.display = 'none';    }
    
    // Function to show the modal
    function showMessageP() {
        const modal = document.getElementById('share-message-p');
        modal.style.display = 'block';

        // Optional: Auto-close after 3 seconds
        setTimeout(() => {
            closeMessageP();
        }, 2000); // Closes the modal after 3 seconds
    }
    </script>
    
</dialog>


