<link rel="stylesheet" href="{{ url_for('static', filename='parliament/parliament.css') }}">

<div class="screen">
    <div>
    {% macro render_seat(seat, party_dict) %}
        {% if seat != "space" %}
        {% set party = seat.party %}
            <span class="seat-span" 
                data-tooltip="{{ seat.party }} {{ party_dict[seat.party] }} מנדטים"
                data-name="{{ seat.name }}"
                data-party="{{ seat.party }}" 
                data-image="{{ seat.image }}"
                data-role="{{ seat.additional_role }}"
                data-coalition="{{ seat.is_coalition }}"
                data-party-seats="{{ party_dict[seat.party] }}"
                style="background-color: {% include 'party_color.html' %};">
            </span>
            <!-- for coalition shadow around spans box-shadow: 0 0 3vw {% if seat.is_coalition %} rgba(0, 64, 255, 0.6) {% else %} rgba(255, 179, 0, 0.6) {% endif %};-->
    {% endif %}
    {% endmacro %}

    <table class="knesset-table">
        {% for i in range(parliament[0][0]|length) %}
            <tr>
                {% for section, section_name in parliament %}
                    {% for seat in section[i] %}
                        <td class="{{ section_name }}-section">
                            {{ render_seat(seat, party_dict) }}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<div class="tooltip-wrapper">
    <div class="coin">
        <div class="coin-inner">
            <div class="coin-front">
                <div style="width: 100%; height: 100%; border-radius: 50%; background-color: rgb(255, 255, 255);">
                    <!-- Content for the back side of the coin -->
                    <table style="width: 50%; margin: auto; margin-top: 12%;">
                        <tr>
                            <td style="text-align: center;">
                                <h2 style="color: rgb(101, 101, 232); font-size: 6vw;display: inline;">61</h2><h2 style="color: black; display: inline;font-size: 4vw;">/</h2><h2 style="color: ffc354; display: inline;font-size: 4vw;">59</h2>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border-top: .3vw solid ;">
                                <h2 style="color: black; margin: 0; font-size: 6vw;">120</h2>
                            </td>
                        </tr>
                    </table>
                </div>    
            </div>
            <div id="coin-back" class="coin-back">
                <div class="shadow"></div>
                    <img class="seat-image" src="">
                    <div id="info_section" class="info-section">
                        <div style="width: 60%; margin: auto;">
                            <h2 class="span-info" id="name">name</h3>
                            <h5 class="span-info" id="role">role</h5>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <span class="tooltip-text">
        <span class="opposition">אופוזיציה</span><span class="divider">/</span><span class="coalition">קואליציה</span>
    </span>
</div>

<div class="info-div">
    <p id="party-name" style="font-size: 5vh; font-weight: bold;margin: 0;padding: 0;">הכנסת</p>
    <p id="party-sum" style="font-size: 4vh; margin: 0;padding: 0;"></p>

    <button id="historyBtn" >היסטוריית הכנסת</button>
</div>

<div id="historyPopup" class="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 3vh; border-radius: 2vh; box-shadow: 0 0 2vh rgba(0,0,0,0.2); z-index: 1000; width: 90%; max-width: 120vh; height: 83vh;">
    <span class="close-btn" onclick="closePopup()" style="position: absolute; left: 2vh; top: 1vh; font-size: 5vh; cursor: pointer;">&times;</span>
    <div id="historyContent" style="overflow-y: none;">
        <div class="flourish-embed flourish-parliament" data-src="visualisation/22992415"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/22992415/thumbnail" width="100%" alt="parliament visualization" /></noscript></div>
    </div>
</div>
<script src="static\js\party_colors.js" defer></script> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const seatSpans = document.querySelectorAll('.seat-span');
        const coin = document.querySelector('.coin');
        const seatImage = document.querySelector('.seat-image');
        const nameElement = document.getElementById("name");
        const roleElement = document.getElementById("role");
        const infoSection = document.getElementById("info_section");
        const coinBack = document.getElementById("coin-back");
        
        // info-div elements
        const partyName = document.getElementById("party-name");
        const partySeatsP = document.getElementById("party-sum");
        const infoDiv = document.querySelector(".info-div");

        seatSpans.forEach(span => {
            span.addEventListener('mouseenter', () => {
                const imageSrc = span.getAttribute('data-image');
                const name = span.getAttribute('data-name');
                const role = span.getAttribute('data-role');
                const is_coalition = span.getAttribute('data-coalition');
                const party = span.getAttribute('data-party');
                const partySeats = span.getAttribute('data-party-seats');
                
                partyName.textContent = party;
                partySeatsP.textContent = partySeats + " מנדטים ";
                
                if (imageSrc) {
                    seatImage.src = imageSrc;
                }
                nameElement.textContent = name;
                roleElement.textContent = role;
                
                if (is_coalition == "True"){
                    //infoSection.style.background = "linear-gradient(315deg, rgba(72,144,253,1) 0%, rgba(163,204,255,1) 40%, rgba(163,204,255,1) 60%, rgba(72,144,253,1) 100%)";
                    infoSection.style.backgroundColor = "#e0e0f6"
                }
                else{
                    //infoSection.style.background = "linear-gradient(315deg, rgba(255,151,59,1) 0%, rgba(255,193,138,1) 40%, rgba(255,193,138,1) 60%, rgba(255,151,59,1) 100%)";
                    infoSection.style.backgroundColor = "#fff1d6"
                }

                let borderColor = getPartyColor(party);
                

                // Apply the border color
                coinBack.style.border = `.4vw solid ${borderColor}`;
                //change color to the party name 
                partyName.style.color = borderColor;
                // Add the 'flip' class to the coin
                coin.classList.add('flip');
            });

            span.addEventListener('mouseleave', () => {
                // Optionally reset the image when the mouse leaves
                // seatImage.src = '';
                // Remove the 'flip' class from the coin
                coin.classList.remove('flip');
                partyName.textContent = "הכנסת";
                partyName.style.color = "black";
                partySeatsP.textContent ="";

            });
        });
    });
        
    document.addEventListener("DOMContentLoaded", function() {
    const spans = document.querySelectorAll('.seat-span');
    const infoDiv = document.querySelector(".info-div");

    spans.forEach(span => {
        const party = span.getAttribute('data-party');
        
        // Mouseover event
        span.addEventListener('mouseover', () => {
            spans.forEach(s => {
                if (s.getAttribute('data-party') === party) {
                    s.style.transform = "scale(1.1)";
                }
            });
            infoDiv.style.display = "block";
        });

        // Mouseout event to reset the size
        span.addEventListener('mouseout', () => {
            spans.forEach(s => {
                if (s.getAttribute('data-party') === party) {
                    s.style.transform = "scale(1)";
                }
            });
        });
    });
});

</script>
<script>
     document.getElementById('historyBtn').addEventListener('click', function() {
        document.getElementById('historyPopup').style.display = 'block';
    });

    document.querySelector('.close-btn').addEventListener('click', function() {
        document.getElementById('historyPopup').style.display = 'none';
    });

    // Close popup when clicking outside
    window.addEventListener('click', function(event) {
        const popup = document.getElementById('historyPopup');
        const knessetSlide = document.getElementById('knesset-slide');
        
        // Only close if clicking directly on the popup background AND knesset slide is visible
        if (event.target === popup && knessetSlide.style.display === 'block') {
            popup.style.display = 'none';
        }
    });
    function closePopup(){
        document.getElementById('historyPopup').style.display = 'none';
    }
</script>
