html {
  touch-action: manipulation;
  zoom: 100%;
  background-color: #f2f2f2;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#fff, #f2f2f2);
  margin: 0;
  padding: 0;
  padding-top: 1vh;
  margin-bottom: 1vh;
}
.header {
  width: 55vw;
  margin: 0vh auto;
  padding: .5vh;
  border-bottom: 0.3vh solid rgb(177, 177, 177);
}
.footer{
  width: 55vw;
  height: 1vh;
  margin: 1vh auto;
}
.sidebar-open {
  height: 100%;
  width: 23vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  padding-top: 1vh;
  box-shadow: 1px 0 20px rgba(99, 99, 99, 0.3); /* Shadow on the right side */

  }
#sidebar-open{
  display: block;
}
.site {
  padding: 0;
  margin: 0;
  margin-left: 20%;
}
#site{
  transition: margin-left .5s; /* If you want a transition effect */

}
.main{
  width: 60vw;
  margin: 0 auto;
  height: 85vh;
  padding: 0;
  
}
.hidden{
  display: none;
}

p{
  padding: 0;
  margin: 0;
}


.iframe_main{
  width: 100%;
  margin: 0px auto;
  height: 100%;
  border: none;
}
.sidebar-close{
  display: none;
  box-shadow: 1px 0 20px rgba(99, 99, 99, 0.3); /* Shadow on the right side */

}

.sidebarBtn{
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  position: absolute; /* or relative or fixed based on your layout needs */
  z-index: 3;
  background-color: #4890FD;
  top:50%;
  margin-left: 3.5%;
  cursor: pointer;
  border: 0;
  color: white;
}
.sidebarBtn:hover{
  background: radial-gradient(#418dfe, #3a70c1);

}

#toggleButton{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 0;
}

button:focus {
    outline: none;
}

.credit{
  float: left;
  margin-left: 30vh;
  font-size: 1.5vh;
  margin-top: 2vh;
  direction: rtl;
}