html {
  touch-action: manipulation;
  zoom: 100%;
  background-color: #f2f2f2;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#fff, #f2f2f2);
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    margin-bottom: 1vh;
}
.header {
    width: 55vw;
    margin: 0vh auto;
    padding: .5vh;
    border-bottom: 0.3vh solid rgb(177, 177, 177);
}

.sidebar-open {
    height: 100%;
    width: 23vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    padding-top: 1vh;
    transition: 0.3s;

  }
#sidebar-open{
  display: block;
}
.site {
  padding: 0;
  margin: 0;
  margin-left: 20%;
}
#site{
  transition: margin-left .5s; /* If you want a transition effect */

}
.main{
  width: 60vw;
  margin: 0 auto;
  height: 82vh;
  padding: 0;
  
}
.hidden{
  display: none;
}

p{
  padding: 0;
  margin: 0;
}


.iframe_main{
  width: 100%;
  margin: 0px auto;
  height: 100%;
  border: none;
}
.sidebar-close{
  display: none;

}

.sidebarBtn{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: absolute; /* or relative or fixed based on your layout needs */
  z-index: 3;
  background: radial-gradient(#6ba4fa, #447dd3);
  top:50%;
  margin-left: 3.5%;
  cursor: pointer;
  border: 0;
  color: white;
}

