html {
  touch-action: manipulation;
  zoom: 100%;
}
body {

    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.header {
    width: 55vw;
    margin: 10px auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.3vh solid rgb(177, 177, 177);

}

.sidebar {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    padding-top: 10px;
  }
.site {
  padding: 0;
  margin: 0;
  margin-left: 20%;

}
.main{
  width: 80%;
  margin: 0 auto;
  height: 82vh;
}
.hidden{
  display: none;
}

p{
  padding: 0;
  margin: 0;
}

#menu_icon{ 
  width: 60px;
  height: 80px;
  margin-left: 20px;
  position: fixed;
  z-index: 0;
}
.iframe_main{
  width: 100%;
  margin: 0px auto;
  height: 100%;
  border: none; 
}