

.main{
    width: 80%;
    height: 200vh;
    margin: 0, auto;
    margin-left: 10%;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 2vh;
}

/* Define the scrollbar style */
body::-webkit-scrollbar {
    width: .8vh;
    height: .1vh;
}
/* Define the thumb style */
body::-webkit-scrollbar-thumb {
background: #b3b3b3;
border-radius: 10px;
}
/* Define the track style */

/* Define the button style */
body:-webkit-scrollbar-button {
background-color: #4d7fff;
border-radius: 5px;
width: 20px;
}
/* Define the button style when being hovered over */
body:-webkit-scrollbar-button:hover {
background-color: #4d7fff;
}