footer {
    text-align: center;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
nav a {
    color: rgb(110, 110, 110);
    margin: 0 1vh;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.9vh;
}
nav a:hover{
    opacity: 0.8;
}
footer p{
    font-size: 1.5vh;
    color: rgb(110, 110, 110);
    flex: 1;
    direction: rtl;
}
.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}