body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 48vh;
    margin: 0 auto;
    padding: 1.2vh 2.4vh;
    border-radius: 1.2vh;
}

h1 {
    font-size: 2.88vh;
}
h2 {
    font-size: 3.12vh;
    color: grey;
}
span.blue-text {
    color: #007bff;
    font-size: 2.4vh;
}
p {
    font-size: 2.16vh;
}   

.difficulty {
    display: flex;
    justify-content: center;
    gap: 1.2vh;
    margin-bottom: 1.2vh;
    direction: rtl;
}

.difficulty-btn {
    background: #e9ecef;
    color: #999999;
    padding: 1.2vh 2.4vh;
    border-radius: 2.4vh;
    font-size: 1.68vh;
    transition: all 0.2s ease;
    width: 39.6%;
    height: 2.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    font-weight: bold;
    position: relative;
}

.current-level {
    background: #007bff;
    color: white;
}

.difficulty-number {
    position: absolute;
    right: 1.44vh;
}

.hint-box {
    background: #f6fbff;
    padding: 1.8vh;
    border-radius: 0.6vh;
    text-align: right;
    box-shadow: 0 0 0.48vh rgba(0, 0, 0, 0.1);
}

.hint-icon {
    width: 10.8vh;
    height: 10.8vh;
    margin-bottom: 0.6vh;
}

input {
    width: 90%;
    padding: 1.8vh;
    margin-top: 2.4vh;
    border: 1px solid #e0e0e0;
    border-radius: 3vh;
    text-align: right;
    font-size: 1.92vh;
    box-shadow: 0 0.24vh 0.48vh rgba(0,0,0,0.1);
}

button#submit-btn {
    background: #4285f4;
    color: white;
    border: none;
    padding: 1.2vh;
    width: 80%;
    margin-top: 1.8vh;
    border-radius: 3vh;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    box-shadow: 0 0.24vh 0.48vh rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

button#submit-btn:hover {
    background: #357abd;
    transform: translateY(-1.2vh);
    box-shadow: 0 0.48vh 0.96vh rgba(0,0,0,0.2);
}

#result-message {
    margin-top: 1.2vh;
    font-size: 2.16vh;
    font-weight: bold;
}

#skip-btn {
    margin-top: 1.2vh;
    font-size: 2.16vh;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #9f9f9f;
}
#skip-btn:hover {
    opacity: 0.7;
}
.hint-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.start-button {
    background: #4285f4;
    color: white;
    border: none;
    padding: 1.2vh;
    width: 24vh;
    margin-top: 1.8vh;
    border-radius: 3vh;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    box-shadow: 0 0.24vh 0.48vh rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}
.start-button:hover {
    background: #357abd;
    transform: translateY(-1.2vh);
    box-shadow: 0 0.48vh 0.96vh rgba(0,0,0,0.2);
}

.difficulty-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 1.2vh;
    margin: auto;
}

.difficulty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-btn.start-screen {
    width: 90%;
    color: white;
}
