html {
    touch-action: manipulation;
    zoom: 100%;
}

.header_table{
    width: 100%;
    padding: 0;
}
.header_info{
    padding: 0px;
    font-size: 0.8vw;
    margin: 0;
    font-weight:bold;
    width: 100%;
    display: flex;
    color: rgb(151, 151, 151);
    line-height:1.5;

}
#date_table{
    margin-top: 2vh;
    width: 100%;

}
.nav_table{
    direction: rtl;
    height: 80%;
    margin: 0;
    padding: 0;

}
p {
    margin: 0;
}

.nav_icon{
    width: 1.8vw;
    cursor: pointer;
    margin-top: 2vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: .5vh;
}
.nav_icon:hover{
    transform: scale(1.1);

}

.line{  

    border-right: .3vh solid rgb(151, 151, 151);
}
th{
    margin-left: auto;
    margin-right: auto;
}

#logo:hover{
    transform: scale(1.02);
}

.progress-bar{
    position: relative;
    width: 8vw;
    height: 1.3vw;
    background-color: #4890fd ;
    border-radius: 1vw;
    color: #4890FD;
    margin-top: 2vh;

}

.progress-bar::before{
    content: attr(data-label);
    font-size: .6vw;
    display: flex;
    align-items: center;
    position: absolute;
    left: .2vw;
    top: .15vw;
    width: calc(var(--width, 0) * 1%);
    min-width: .1rem;
    max-width: calc(100% - 1.1em);
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    padding: .15vw;
    padding-top: .2vw;
    padding-left: .2vw;
}
.progress-bar:hover{
    background-color:#68a3fc;
}
/*
[demography-tooltip]:hover::after {
    content: attr(demography-tooltip);
    background: none;
    padding: .3em;
    z-index: 1; 
    position: absolute;
    top: 1%;
    left: 75%;
    color:rgba(161, 161, 161, 0.712);
    border-radius: 1.5vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    direction: rtl;
  }*/