.sidebar{
    width: 5vw;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
    overflow: auto;
    cursor: pointer;
    box-shadow: 1px 0 20px rgba(99, 99, 99, 0.3); /* Shadow on the right side */
    z-index: 0;
}

/* Define the scrollbar style */
.sidebar::-webkit-scrollbar {
width: 0;
height: 0;
}

.sidebar_header{
    height:11vh;
    width: 100%;
    border-bottom: 0.3vh solid rgb(177, 177, 177);

}
#logo{
    width: 3.5vw;
    margin: auto;
    margin-top: 1.5vh;
    margin-left: .75vw;
}
.tweets_div{
    padding: 0;
    margin:0;
    margin-left: .3vw;
    padding-top: 1vh;
    background-image: url(/static/images/knesschat_background1.png);
    z-index: 1;
    position: relative; /* Ensures tooltips are positioned correctly */

}
.img_span_close{
    background-size: 90%; /* Increase to zoom in */
    background-position: center; /* Keep focus in the middle */
    box-shadow: 0 .5vh .5vh rgb(0 0 0 / 0.3);
    padding:0;
    margin:0;
    width:4vw; 
    height: 4vw; 
    border-radius: 50%;
    display: block;
    border: 1px solid grey;
    margin-bottom: 1vh;
    z-index: 5; /* Ensure it has a lower z-index than the tooltip */

}

.defualt_img{
    background-size: cover;
    padding:0;
    margin:0;
    width: 4.2vw; 
    height: 4.2vw; 
    border-radius: 50%;
    display: block;
    margin-bottom: 1vh;
    z-index: 1;
}
.defualt_img:hover{
    transform: scale(1.1);
}
#coalition_img{
    border: .3vh solid #a3d3ff;

}
#oposition_img{
    border: .3vh solid #f8caa2;

}
.badge {
    width: auto;
    height: 1vw;
    background-color: #4890FD;
    text-align: center;
    border-radius: 25vw;
    display: flex;
    z-index: 10;
    margin-left: 60%;
    padding: .3vw;
    color: white;
    font-weight: bold;
    justify-content: center; 
    align-items: center; 
  }
  .badge p{
    margin: 0, auto;
    font-size: 1vw;
  }

#knesschat-close [data-tooltip-text] {
    position: relative;
    cursor: pointer;
    z-index: 100; /* Ensure it has a higher z-index than the img_span_close */

}

#knesschat-close [data-tooltip-text]::before {
    content: attr(data-tooltip-text);
    position: absolute;
    top: 70%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 100;
}



#knesschat-close [data-tooltip-text]:hover::before
 {
    opacity: 1;
    visibility: visible;
    z-index: 500;
}