@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Enable natural body scrolling */
    background-image: url(/static/images/knesschat_background1.png);
    scroll-behavior: smooth; /* Optional: Enables smooth scrolling */
}

.container {
    display: flex;

    flex-direction: column;
    min-height: 100vh;

}

header {
    position: fixed; /* Keeps it at the top */
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Adjust as needed */
    z-index: 1000; /* Ensures it stays above everything */
    padding: 1vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */

    height: 10vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer;
}
footer{
    position: fixed; /* Keeps it at the top */
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 92%;
    background: white; /* Adjust as needed */
    z-index: 1000; /* Ensures it stays above everything */
    padding: 2vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    font-family: 'Heebo', sans-serif;

}

#feed {
    flex: 1; /* Take up the remaining space */
    
    margin-top: 10vh; /* Pushes it below the fixed header */
}
#knesschat_logo{
    width: 30vh;
    padding: 0;
    margin: auto;
}


.scrollable {
    height:100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
}
.feed::-webkit-scrollbar {
    width: .6vh;
    height: .2vh;
}
/* Define the thumb style */
.feed::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 10px;
}
.feed::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 184, 184);
}

.loading-screen {
    width: 100%;
    height: 100vh;
    background: rgba(177, 177, 177, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: block;
    font-size: 3vh;
    direction: rtl ;
    margin: auto;

}

.popup-footer {
    position: fixed;
    height: 70vh;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px 10px 0 0;
    max-width: 100vh;
}

.popup-footer.open {
    transform: translateY(0);
}

.popup-footer.closed {
    transform: translateY(80%);
}

.footer-content {
    padding: 20px;
    text-align: center;
    margin-top: 4vh;
}

.close-footer {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.footer-content {
    padding: 20px;
    text-align: center;
    direction: rtl;
}

.text {
    font-size: 2.5vh;
    color: black;
    margin: 10px 0;
}

.cta {
    font-size: 2.2vh;
    font-weight: bold;
    margin: 0;
}

.cta-desc {
    font-size: 2vh;
    color: rgb(54, 54, 54);
    margin: 0;

}

.highlight-blue {
    color: #2979FF; /* Blue text */
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-share { background-color: #00E676; } /* Green */
.btn-twitter { background-color: #000000; } /* Black */
.btn-facebook { background-color: #2979FF; } /* Blue */
.btn-instagram { background-color: #ff297b; } /* Blue */
