@keyframes entrence {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(0);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
    }

    55% {
        animation-timing-function: ease-in;
        transform: scale(0.7);
    }

    72% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    81% {
        animation-timing-function: ease-in;
        transform: scale(0.84);
    }

    89% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    95% {
        animation-timing-function: ease-in;
        transform: scale(0.95);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

@keyframes attention {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-.3vw, .3vw);
	}

	40% {
		transform: translate(-.3vw, -.3vw);
	}

	60% {
		transform: translate(.3vw, .3vw);
	}

	80% {
		transform: translate(.3vw, -.3vw);
	}

	100% {
		transform: translate(0);
	}
}


table {
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-top: 2vh;
}

#main_table {
    margin-left: 10%;
    width: 80%;
    height: 98%;
    border-collapse: collapse;
    padding: 0;
    margin: 0, auto;

}

tr,
td {
    padding: 0;
    margin: 0;
}

.transform_div:hover {
    transform: scale(1.1);
}


.kpi {
    margin-left: 25%;
    background: radial-gradient(#6ba4fa, #447dd3);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    animation: entrence 1.3s ease 0s 1 normal forwards, attention 15s linear 1.4s 30;
    /* box-shadow: 0px 0.2vw 0.2vw .1em rgb(230, 230, 230); */

}

.kpi:hover {
    background: radial-gradient(#5396fc, #447dd3);
    margin-left: 25%;
}

.bubble_icon {
    width: 4vw;
    display: block;
    margin: auto;
    margin-top: 15%;

}

.policy{
    margin-left: 25%;
    height: 4.5vw;
    width: 4.5vw;
    background: radial-gradient(#e3e3e3, #c3c3c3);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    animation: entrence 1.3s ease 0s 1 normal forwards, attention 15s linear 1.4s 30;
    /* box-shadow: 0px 0.2vw 0.2vw .1em rgb(230, 230, 230); */
}

.policy:hover {

    background: rgb(221, 221, 221);
    margin-left: 25%;

}


.main_bubble {
    height: 10.3vh;
    width: 10.3vh;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    display: block;
    margin: auto;
    animation: entrence 1s ease 0s 1 normal forwards;
    background-size: cover;
    border: 1px solid grey;

}

.main_bubble:hover {
    width: 10.4vh;
    height: 10.4vh;
    display: block;
    margin: auto;
    background-color: rgb(155, 155, 155);

}

.alert_bubble {
    margin-left: 25%;
    height: 6vw;
    width: 6vw;
    background: radial-gradient(#ff5d5d, #ee3f33);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    /* box-shadow: 0px 0.2vw 0.2vw .1em rgb(230, 230, 230); */
    animation: entrence 1.3s ease 0s 1 normal forwards, attention 15s linear 1.4s 30;
}

.kpi-modal {
    width: 100%;
    height: 100%;
    border: 2px solid #4890FD;
    border-radius: 25px;
}

.kpi-modal::backdrop {
    background-color: white;
}

.policies-modal {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(188, 188, 188);
    border-radius: 25px;
}

.policies-modal::backdrop {
    background-color: white;
}

#close_button {
    border: none;
    font-weight: 700;
    background-color: #4890FD;
    border-radius: 1rem;
    color: white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 24px;
    padding: 0;

}

#close_button:hover {
    background-color: #257cff;
}

#graph_div {
    padding: 0;
    margin: 0;
    width: 50%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.up-left {
    border-right: 1vh solid;
    border-image-slice: 1;
    border-width: 0.8vh;
    border-image-source: linear-gradient(#ffffff, #858585);
}

.explain_span {
    margin-right: 6vw;
    display: block;
    float: right;
    height: 2.5vw;
    width: 2.5vw;
    background: radial-gradient(#cecece, #ababab);
    border-radius: 50%;
    cursor: pointer;
}

.explain_span:hover {
    background: radial-gradient(#a3a3a3, #8b8b8b);

}

.explain_modal::backdrop {
    background-color: white;
}

.explain_modal {
    width: 100%;
    height: 100%;
    border: 2px solid #4890FD;
    border-radius: 25px;
}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    background: #433f3ff1;
    padding: .3em;
    z-index: 1; 
    position: absolute;
    top: 0px;
    left: 50%;
    color:white;
    border-radius: 1.5vh;
    font-weight: bold;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    direction: rtl;
  }

#main_upper_left{
    float: right;
    margin-right: 1vw;
}
#main_upper_right{
    float: left;
    margin-left: 1vw;
}
#main_down_left{
    float: right;
    margin-right: 1vw;
}
#main_down_right{
    float: left;
    margin-left: 1vw;
}

.up-right{
    float: left;
}
.up-left{
    float: right;
}
.down-right{
    float: left;
}
.down-left{
    float: right;
}

.large{
    width: 10vh;
    height: 10vh;
}
.large:hover{
    transform: scale(1.2);
}
.medium{
    width: 8vh;
    height: 8vh;
}
.medium:hover{
    transform: scale(1.2);
}
.small{
    width: 6.5vh;
    height: 6.5vh;
}
.small:hover{
    transform: scale(1.2);
}

.small_icon{
    width: 4.5vh;
    height: 4.5vh;
}
.medium_icon{
    width: 6vh;
    height: 6h;
}
.large_icon{
    width: 7vh;
    height: 7vh;
}

.modal-content{
    width: 95%;
    height: 95%;
}

.chart-div{
    width: 100%;
    height: 100%;

}

.chart{

}