html {
    touch-action: manipulation;
    zoom: 100%;
}
#main_table{
    width: 100%;
    height: 95%;
    border-collapse: collapse;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
tr, td{
    padding: 0;
    margin: 0;
}
.kpi_bubble{
    margin-left: 25%;
    height: 6vw;
    width: 6vw;
    background-color: #4890FD;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 3px 3px .1em rgb(201, 201, 201);
  }
.kpi_bubble:hover{
    height: 6vw;
    width: 6vw;
    background-color:  #56a2fa;
    margin-left: 25%;
    transform: scale(1.2);
}
.kpi_icon{
    width: 4vw;
    display: block;
    margin: auto;
    margin-top: 30%;
}
.policies_bubble{
    margin-left: 25%;
    height: 4.5vw;
    width: 4.5vw;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 3px 3px .1em rgb(218, 218, 218);

}
.policies_bubble:hover{
    height: 4.6vw;
    width: 4.6vw;
    background-color:  rgb(221, 221, 221);
    margin-left: 25%;
    transform: scale(1.2);

}
.policies_icon{
    width: 3vw;
    display: block;
    margin: auto;
    margin-top: 30%;
}

.main_bubble{
    height: 7vw;
    width: 7vw;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 3px 3px .1em rgb(201, 201, 201);
    display: block;
    margin: auto;
}
.main_bubble:hover{
    width: 7.1vw;
    height: 7.1vw;
    display: block;
    margin: auto;
    background-color: rgb(155, 155, 155);

}