<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מצב האומה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
</head>
<body>
    <div class="sidebar">
        {% include 'KnessChat.html' %}
    </div>
    <div class="site">
        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
