<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <meta charset="UTF-8">
    <title>מצב האומה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
</head>
<body>
    <div class="sidebar-open" id="sidebar-open">
        {% include 'knesschat.html' %}
    </div>
    <div class="sidebar-close" id="sidebar-close" onclick="toggleNav()">
        {% include 'knesschat-close.html' with context %}
    </div>
    <div class="site" id="site">
        <div class="shape-container">
            <button id="toggleButton" class="sidebarBtn" onclick="toggleNav()">
                <img id="toggleImg" style=" width: 3vh;" src="/static/images/buttons/close-icon-white.png">
            </button>
        </div>

        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="main">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div id="bthn" lang="he"></div><script>
        (function () {
           var script = document.createElement("script");
           script.type = "text/javascript";
           script.src = "https://bringthemhomenow.net/1.1.0/hostages-ticker.js";
           script.setAttribute(
             "integrity",
             "sha384-DHuakkmS4DXvIW79Ttuqjvl95NepBRwfVGx6bmqBJVVwqsosq8hROrydHItKdsne"
           );
           script.setAttribute("crossorigin", "anonymous");
           document.getElementsByTagName("head")[0].appendChild(script);
         })();
        </script>
</body>

<script>
    const sidebar = document.getElementById("sidebar-open").style.display = "block";

    function openNav() {
        // display change
        document.getElementById("sidebar-open").style.display = "block";
        document.getElementById("sidebar-close").style.display = "none";
        // width and margin change
        document.getElementById("sidebar-open").style.width = "23vw";
        document.getElementById("site").style.marginLeft = "20%";
        // close btn margin
        document.getElementById("toggleButton").style.marginLeft = "8vh";

    }
    
    function closeNav() {
        // width and margin change
        document.getElementById("sidebar-open").style.width = "5vw";
        document.getElementById("site").style.marginLeft= "5.5%";
        // display change
        document.getElementById("sidebar-close").style.display = "block";
        document.getElementById("sidebar-open").style.display = "none";
        // close btn margin
        document.getElementById("toggleButton").style.marginLeft = "0";

    }

    function toggleNav() {
        const sidebar = document.getElementById("sidebar-open");
        const toggleButton = document.getElementById("toggleButton");
        const toggleImg = document.getElementById("toggleImg");

        const isSidebarOpen = sidebar.style.display === "block";        
        if (isSidebarOpen) {
            console.log('close')
            closeNav();
            toggleImg.src = "/static/images/buttons/message-icon-white.png"; // Set this to the image for closed state
        } else {
            openNav();
            toggleImg.src = "/static/images/buttons/close-icon-white.png";
        }
    }
</script>
</html>

