<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='economy.css') }}">

<div class="main">
    <div class="header">
        <table class="header-table">
            <tr style="width: 100%;height: 100%;">
                <th><span id="10" class="nav-button" onclick="change_graph(0,10)">הוצאות</span></th>
                <th><span id="11" class="nav-button chossen-button" onclick="change_graph(1,11)" >מדדים</span></th>
                <th><span id="12" class="nav-button" onclick="change_graph(2,12)">הכנסות</span> </th>
            </tr>
        </table>

        <div class="chart-div">
           
            <div id="0" class="graph hidden">
                <div id="center-text" style="position: absolute; top: 50%; left: 60%; transform: translate(-50%, -50%); font-size: 1rem; font-weight: bold;">

                </div>
                <canvas id="expenses-graph" width="100%" style="max-height: 85vh; margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('expenses-graph').getContext('2d');

                   var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: {{ expenses_lables | safe }},
                            datasets: [{
                                label: 'Example Dataset',
                                data: {{ expenses_values | safe }},
                                fill: false, 
                                borderColor: 'white',
                                borderWidth: 1,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',  // Red
                                    'rgb(54, 162, 235)',  // Blue
                                    'rgb(255, 206, 86)',  // Yellow
                                    'rgb(75, 192, 192)',  // Green
                                    'rgb(153, 102, 255)', // Purple
                                    'rgb(255, 159, 64)',  // Orange
                                    'rgb(201, 203, 207)',  // Grey
                                    'rgb(0, 128, 128)'
                                ],
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'left',
                                },
                                title: {
                                    display: false,
                                    text: 'הוצאות הממשלה 2023'
                                },
                            }
                        }
                    });
                </script>
            </div>
            <div id="1" class="graph">
                <canvas id="index-graph" width="100%" style="margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('index-graph').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ main_lables | safe }},
                            datasets: [{
                                label: 'חוב',
                                data: {{ main_values[0] | safe }},
                                fill: false, 
                                borderColor: 'rgb(255, 206, 86)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(255, 206, 86)',
                                pointRadius: 4,
                            },
                            {
                                label: 'הכנסות',
                                data: {{ main_values[1] | safe }},
                                fill: false, 
                                borderColor: 'rgb(75, 192, 192)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(75, 192, 192)',
                                pointRadius: 4,
                            },
                            {
                                label: 'הוצאות',
                                data: {{ main_values[2] | safe }},
                                fill: false, 
                                borderColor: 'rgb(255, 99, 132)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(255, 99, 132)',
                                pointRadius: 4,
                            },
                            {
                                label: 'ריבית',
                                data: {{ main_values[3] | safe }},
                                fill: false, 
                                borderColor: 'rgb(153, 102, 255)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(153, 102, 255)',
                                pointRadius: 4,
                            },
                            {
                                label: 'תמ"ג',
                                data: {{ main_values[4] | safe }},
                                fill: false, 
                                borderColor: 'rgb(54, 162, 235)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(54, 162, 235)',
                                pointRadius: 4,
                            }
                        ]
                            
                        },
                        options: {
                            responsive: true,
                            plugins: {
                            title:{
                                display: true,
                                text: 'נתוני הכלכלה (במילארדי שקלים)',
                            },
                            legend: {
                                display: true,
                            }  
                            },
                            scales: {
                                x: {
                                grid: {
                                    display: false,
                                    }
                                }
                            }
                        }
                    }); 
                </script>
            </div>
            <div id="2" class="graph hidden">
                <canvas id="income-graph" width="100%" style="max-height: 80vh; margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('income-graph').getContext('2d');
                   var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: {{ income_lables | safe }},
                            datasets: [{
                                label: 'Example Dataset',
                                data: {{ income_values | safe }},
                                fill: false, 
                                borderColor: 'white',
                                borderWidth: 1,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',  // Red
                                    'rgb(54, 162, 235)',  // Blue
                                    'rgb(255, 206, 86)',  // Yellow
                                    'rgb(75, 192, 192)',  // Green
                                    'rgb(153, 102, 255)', // Purple
                                    'rgb(255, 159, 64)',  // Orange
                                    'rgb(201, 203, 207)',  // Grey
                                    'rgb(0, 128, 128)'
                                ],
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                title: {
                                    display: false,
                                    text: 'הוצאות הממשלה 2023'
                                },
                            }
                        }
                    });
                </script>
            </div>
        </div>
        
    </div>
</div>

<script>
    function change_graph(id,button){
        change_buttons(button)
        for(var i = 0; i <= 2; i++){
            console.log(document.getElementById(i))
            if(!document.getElementById(i).classList.contains('hidden'))
                document.getElementById(i).classList.toggle('hidden');
        }
        document.getElementById(id).classList.toggle('hidden');

    }
    function change_buttons(button){
        for(var i = 10; i <= 12; i++){
            console.log(document.getElementById(i))
            if(document.getElementById(i).classList.contains('chossen-button'))
                document.getElementById(i).classList.toggle('chossen-button');
        }
        document.getElementById(button).classList.toggle('chossen-button');
    }
</script>