<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='economy.css') }}">

<div class="main">
    <div class="header">
        <table class="header-table">
            <tr style="width: 100%;height: 100%;">
                <th><span id="10" class="nav-button" onclick="change_graph(0)">הכנסות</span></th>
                <th><span id="11" class="nav-button chossen-button" onclick="change_graph(1)" >מדדים</span></th>
                <th><span id="12" class="nav-button" onclick="change_graph(2)">הוצאות</span> </th>
            </tr>
        </table>

        <div class="chart-div">
            <div id="0" class="graph hidden">
                <canvas id="income-graph" width="100%" style="max-height: 80vh; margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('income-graph').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{ lables | safe }},
                            datasets: [{
                                label: 'Example Dataset',
                                data: {{ values | safe }},
                                fill: false, 
                                borderColor: '#4890FD',
                                borderWidth: 2,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(208, 226, 252)',
                                pointRadius: 0,
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                            legend: {
                                display: false
                            }  
                            },
                            scales: {
                                x: {
                                grid: {
                                    display: false,
                                    }
                                }
                            }
                        }
                    }); 
                </script>
            </div>
            <div id="1" class="graph">
                <canvas id="index-graph" width="100%" style="margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('index-graph').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ lables | safe }},
                            datasets: [{
                                label: 'Example Dataset',
                                data: {{ values | safe }},
                                fill: false, 
                                borderColor: '#4890FD',
                                borderWidth: 2,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(208, 226, 252)',
                                pointRadius: 0,
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                            legend: {
                                display: false
                            }  
                            },
                            scales: {
                                x: {
                                grid: {
                                    display: false,
                                    }
                                }
                            }
                        }
                    }); 
                </script>
            </div>
            <div id="2" class="graph hidden">
                <canvas id="expenses-graph" width="100%" style="max-height: 80vh; margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('expenses-graph').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{ lables | safe }},
                            datasets: [{
                                label: 'Example Dataset',
                                data: {{ values | safe }},
                                fill: false, 
                                borderColor: '#4890FD',
                                borderWidth: 2,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(208, 226, 252)',
                                pointRadius: 0,
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                            legend: {
                                display: false
                            }  
                            },
                            scales: {
                                x: {
                                grid: {
                                    display: false,
                                    }
                                }
                            }
                        }
                    }); 
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    function change_graph(id){
        change_buttons()
        for(var i = 0; i <= 2; i++){
            console.log(document.getElementById(i))
            if(!document.getElementById(i).classList.contains('hidden'))
                document.getElementById(i).classList.toggle('hidden');
        }
        document.getElementById(id).classList.toggle('hidden');

    }
    function change_buttons(id){
        for(var i = 10; i <= 12; i++){
            console.log(document.getElementById(i))
            if(!document.getElementById(i).classList.contains('chossen-button'))
                document.getElementById(i).classList.toggle('chossen-button');
        }
        document.getElementById(id).classList.toggle('chossen-button');
    }
</script>