<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='economy.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="main">
    <div class="header">
        <table class="header-table">
            <tr style="width: 100%;height: 100%;">
                <th><span id="10" class="nav-button" onclick="change_graph(0,10)">הוצאות</span></th>
                <th><span id="11" class="nav-button chossen-button" onclick="change_graph(1,11)" >מדדים</span></th>
                <th><span id="12" class="nav-button" onclick="change_graph(2,12)">הכנסות</span> </th>
            </tr>
        </table>
        <!-- expenses -->
        <div class="chart-div">
           
            <div id="0" class="graph hidden">
                <div class="grid-container">
                    <div class="item item1 excluded">
                        <canvas id="expenses-graph" class="graph" width="100%"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                        <script type="text/javascript"> // Chart
        
                           var ctx = document.getElementById('expenses-graph').getContext('2d');
                           var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: {{ expenses_lables | safe }},
                                    datasets: [{
                                        label: 'Example Dataset',
                                        data: {{ expenses_values | safe }},
                                        fill: false, 
                                        borderColor: 'white',
                                        borderWidth: 1,
                                        backgroundColor: [
                                        '#ff1a1a', // Vibrant Soft Red  
                                        '#ff3333', // Deep Soft Red  
                                        '#ff4d4d', // Rich Soft Red  
                                        '#ff6666', // Medium Soft Red  
                                        '#ff8080', // Mild Soft Red  
                                        '#ff9999', // Light Soft Red  
                                        '#ffc2c2', // Soft Pastel Red  
                                        '#ffebeb',  // Very Light Red 
                                        'rgb(0, 128, 128)'
                                        ],
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            display: false,
                                            position: 'left',
                                        },
                                        title: {
                                            display: true,
                                            text: 'פילוג הוצאות המדינה',
                                        },
                                        datalabels: {
                                            color: 'white', // Label color
                                            formatter: (value, context) => {
                                                let label = context.chart.data.labels[context.dataIndex];
                                                return `${value}`;  // Display label and value
                                            },
                                            font: {
                                                size: 12,  // Font size for labels
                                                weight: 'bold'
                                            },
                                            align: 'center',  // Align labels toward the end of the slice
                                            anchor: 'center'  // Anchor the labels to the chart slices
                                        }
                                    }
                                }
                            });
                        </script>
                </div>
                    <div class="item item2">
                        <p class="title">הוצאות המדינה</p>
                        <i class="fas fa-coins" style="color: #cdcdcd;float: left;"></i> 

                        <div class="center">
                            <p class="main-num">
                                <span id="last-year-expenses" style="font-weight: bold;color:rgb(0, 0, 0);">{{ main_values[2][-1] | round(1) }}</span>
                                <span style="font-size: 4vh;"> מיליארד ש"ח</span>
                               </p>
                            <p class="change">
                                <span style="font-weight: bold;{% if main_values[2][-1] > main_values[2][-2] %}color:rgb(255, 0, 0);{% else %}color:rgb(0, 180, 0);{% endif %}">
                                    {% if main_values[2][-1] > main_values[2][-2] %}▲{% else %}▼{% endif %}
                                    {{ ((main_values[2][-1] - main_values[2][-2]) / main_values[2][-2] * 100) | round(1) }}%
                                </span>
                                משנה שעברה
                            </p>

                        </div>
                        <p class="change" style="font-size: 2vh;color: #505050;margin: 5vh;text-align: center;margin-right: 20vh;"> נכון לשנת {{ main_lables[-1] }}</p>

                    </div>
                    <div class="item item3">
                        <p class="title">ייבוא מחו"ל</p>
                        <i class="fas fa-ship" style="color: #cdcdcd;float: left;"></i> 
                        <div class="center" >
                            <p class="main-num" style="margin-top: 0;">
                                <span style="font-weight: bold;color:rgb(0, 0, 0);">88.6</span>
                                <span style="font-size: 4vh;"> מיליארד דולר ($)</span>
                               </p>
                            <p class="change">
                                <span style="font-weight: bold;color:rgb(255, 0, 0);">▼-12.7%</span>
                                משנה שעברה
                            </p>
                        </div>
                        <p class="change" style="font-size: 2vh;margin-top: 2vh; color: #505050;text-align: center;margin-right: 20vh;"> נכון לשנת {{ main_lables[-1] }}</p>

                    </div>
                    <div class="item item4 excluded">
                        <canvas id="expenses-line-graph" class="graph" height="70%" width="100%"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                        <script type="text/javascript"> // Chart
                            var ctx = document.getElementById('expenses-line-graph').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ main_lables | safe }},
                                    datasets: [{
                                        data: {{ main_values[2] | safe }},
                                        fill: false, 
                                        borderColor: '#ff6666', // Light red color
                                        borderWidth: 4,
                                        lineTension: 0.4,
                                        pointRadius: 0, // Remove dots
                                    }]
                                },
                                options: {
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        title: {
                                            display: true,
                                            text: 'מגמת הוצאות המדינה',
                                        }
                                    },
                                    
                                    scales: {
                                        y: {
                                            display: false // Hide y-axis labels
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div id="1" class="graph">
                <canvas id="index-graph" width="600" height="350"  style="margin: 0; padding: 0;"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                <script type="text/javascript"> // Chart
                   var ctx = document.getElementById('index-graph').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ main_lables | safe }},
                            datasets: [{
                                label: 'חוב',
                                data: {{ main_values[0] | safe }},
                                fill: false, 
                                borderColor: 'rgb(255, 206, 86)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(255, 206, 86)',
                                pointRadius: 4,
                            },
                            {
                                label: 'הכנסות',
                                data: {{ main_values[1] | safe }},
                                fill: false, 
                                borderColor: 'rgb(75, 192, 192)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(75, 192, 192)',
                                pointRadius: 4,
                            },
                            {
                                label: 'הוצאות',
                                data: {{ main_values[2] | safe }},
                                fill: false, 
                                borderColor: 'rgb(255, 99, 132)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(255, 99, 132)',
                                pointRadius: 4,
                            },
                            {
                                label: 'ריבית',
                                data: {{ main_values[3] | safe }},
                                fill: false, 
                                borderColor: 'rgb(153, 102, 255)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(153, 102, 255)',
                                pointRadius: 4,
                            },
                            {
                                label: 'תמ"ג',
                                data: {{ main_values[4] | safe }},
                                fill: false, 
                                borderColor: 'rgb(54, 162, 235)',
                                borderWidth: 3,
                                lineTension: 0.5,
                                backgroundColor: 'rgb(54, 162, 235)',
                                pointRadius: 4,
                            }
                        ]
                            
                        },
                        options: {
                            responsive: true,
                            plugins: {
                            title:{
                                display: true,
                                text: 'מדדי כלכלת ישראל (במילארדי שקלים)',
                            },
                            legend: {
                                display: true,
                            }  
                            },
                            scales: {
                                x: {
                                grid: {
                                    display: false,
                                    }
                                }
                            }
                        }
                    }); 
                </script>
            </div>
            <!-- income -->
            <div id="2" class="graph hidden">
                <div class="grid-container">
                    <div class="item item1 excluded">
                        <canvas id="income-graph" class="graph" width="100%"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                        <script type="text/javascript"> // Chart
        
                           var ctx = document.getElementById('income-graph').getContext('2d');
                           var myChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: {{ income_lables | safe }},
                                    datasets: [{
                                        label: 'Example Dataset',
                                        data: {{ income_values | safe }},
                                        fill: false, 
                                        borderColor: 'white',
                                        borderWidth: 1,
                                        backgroundColor: [
                                            '#a3d9a5',  // Red
                                            '#8fd19e',  // Blue
                                            '#73c37c',  // Yellow
                                            '#58c66d',  // Green
                                            '#42c77f', // Purple
                                            '#38b766',  // Orange
                                            '#2ea855',  // Grey
                                            'rgb(0, 128, 128)'
                                        ],
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            display: false,
                                            position: 'left',
                                        },
                                        title: {
                                            display: true,
                                            text: 'פילוג הכנסות המדינה',
                                        },
                                        datalabels: {
                                            color: 'white', // Label color
                                            formatter: (value, context) => {
                                                let label = context.chart.data.labels[context.dataIndex];
                                                return `${value}`;  // Display label and value
                                            },
                                            font: {
                                                size: 12,  // Font size for labels
                                                weight: 'bold'
                                            },
                                            align: 'center',  // Align labels toward the end of the slice
                                            anchor: 'center'  // Anchor the labels to the chart slices
                                        }
                                    }
                                }
                            });
                        </script>
                </div>
                    <div class="item item2">
                        <p class="title">הכנסות המדינה</p>
                        <i class="fas fa-coins" style="color: #cdcdcd;float: left;"></i> 

                        <div class="center">
                            <p class="main-num">
                                <span id="last-year-income" style="font-weight: bold;color:rgb(0, 0, 0);">{{ main_values[1][-1] | round(1) }}</span>
                                <span style="font-size: 4vh;"> מיליארד ש"ח</span>
                               </p>
                            <p class="change">
                                <span style="font-weight: bold;{% if main_values[1][-1] > main_values[1][-2] %}color:rgb(0, 180, 0);{% else %}color:rgb(255, 0, 0);{% endif %}">
                                    {% if main_values[1][-1] > main_values[1][-2] %}▲{% else %}▼{% endif %}
                                    {{ ((main_values[1][-1] - main_values[1][-2]) / main_values[1][-2] * 100) | round(1) }}%
                                </span>
                                משנה שעברה
                            </p>
                        </div>
                        <p class="change" style="font-size: 2vh;margin-top: 5vh; color: #505050;text-align: center;margin-right: 20vh;"> נכון לשנת {{ main_lables[-1] }}</p>

                    </div>
                    <div class="item item3">
                        <p class="title">ייצוא לחו"ל</p>
                        <i class="fas fa-ship" style="color: #cdcdcd;float: left;"></i> 
                        <div class="center">
                            <p class="main-num" style="margin-top: 0;">
                                <span style="font-weight: bold;color:rgb(0, 0, 0);"> 156</span>
                                <span style="font-size: 4vh;"> מיליארד דולר ($)</span>
                               </p>
                            <p class="change">
                                <span style="font-weight: bold;color:rgb(255, 0, 0);">▼6%-</span>
                                משנה שעברה
                            </p>
                        </div>
                        <p class="change" style="font-size: 2vh;margin-top: 2vh; color: #505050;text-align: center;margin-right: 20vh;"> נכון לשנת {{ main_lables[-1] }}</p>

                    </div>
                    <div class="item item4 excluded">
                        <canvas id="income-line-graph" class="graph" height="70%" width="100%"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>                           
                        <script type="text/javascript"> // Chart
                            var ctx = document.getElementById('income-line-graph').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ main_lables | safe }},
                                    datasets: [{
                                        data: {{ main_values[1] | safe }},
                                        fill: false, 
                                        borderColor: '#90EE90', // Light green color
                                        borderWidth: 4,
                                        lineTension: 0.4,
                                        pointRadius: 0, // Remove dots
                                    }]
                                },
                                options: {
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                        title: {
                                            display: true,
                                            text: 'מגמת הכנסות המדינה',
                                        }
                                    },
                                    
                                    scales: {
                                        y: {
                                            display: false // Hide y-axis labels
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                
        </div>
        
    </div>
</div>

<script>
    function change_graph(id,button){
        change_buttons(button)
        for(var i = 0; i <= 2; i++){
            if(!document.getElementById(i).classList.contains('hidden'))
                document.getElementById(i).classList.toggle('hidden');
        }
        document.getElementById(id).classList.toggle('hidden');

    }
    function change_buttons(button){
        for(var i = 10; i <= 12; i++){
            if(document.getElementById(i).classList.contains('chossen-button'))
                document.getElementById(i).classList.toggle('chossen-button');
        }
        document.getElementById(button).classList.toggle('chossen-button');
    }
</script>