<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">

    </head>
    <body>
        <footer>
            <p class="left-text">תמונות הפוליטיקאים מתוך אתר הכנסת</p>
            <nav>
                <a onclick="change_view(4)" href="#">אודות</a>
                <a onclick="change_view(5)" href="#">תנאי שימוש</a>
                <a href="#">צור קשר</a>
                <a href="#">לתרומה</a>
            </nav>
            <p class="right-text">כל הזכויות שמורות לאתר מצב האומה ©</p>
        </footer>

    </body>
</html>