<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/header/game_icon.svg">
    <title>זהה את הח"כ | מצב האומה</title>
    <link rel="stylesheet" href="/static/game.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="/static/js/game.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="/static/images/game-header-with.svg" alt="hint" class="header-image" >
    </div>
    <div class="openingScreen" >
        <div class="difficulty-selection">
            <h2> האם תצליחו לנחש את שלושת חברי הכנסת מכל הזמנים בעזרת הרמזים?</h2>
             
            <table class="difficulty-table">
                <tr>
                    <td>
                        <div class="difficulty-item">
                            <img src="/static/images/header/game_icon.svg" alt="hint" class="hint-icon" style="opacity: 0.3;">
                            <button class="difficulty-btn start-screen" data-level="קל" style="opacity: 0.3;"><span class="difficulty-number">1.</span> קל</button>
                        </div>
                    </td>
                    <td>
                        <div class="difficulty-item">
                            <img src="/static/images/header/game_icon.svg" alt="hint" class="hint-icon" style="opacity: 0.5;">
                            <button class="difficulty-btn start-screen" data-level="בינוני" style="opacity: 0.5;"><span class="difficulty-number">2.</span> בינוני</button>
                        </div>
                    </td>
                    <td>
                        <div class="difficulty-item">
                            <img src="/static/images/header/game_icon.svg" alt="hint" class="hint-icon" style="opacity: 0.8;">
                            <button class="difficulty-btn start-screen" data-level="קשה" style="opacity: 0.8;"><span class="difficulty-number">3.</span> קשה</button>
                        </div>  
                    </td>
                </tr>
            </table>
            <h2>שלושת חברי הכנסת מתחלפים בכל יום בחצות!</h2>
            <button id="start-btn" class="start-button">התחל</button>
        </div>
        <footer id="main-footer" class="collapsible-footer">
            <span id="close-main-footer" class="close-footer"><i class="fas fa-times"></i></span>
            <p class="cta">
                רוצים לדעת <span class="highlight-blue">מה המצב האמיתי</span> של מדינת ישראל?
            </p>
            <p class="cta-desc">היכנסו לאתר מצב האומה מהמחשב או עקבו:</p>
            <div class="buttons">
                <button class="btn btn-circle" >
                    <i class="fas fa-share-alt"></i>
                </button>
                <a href="https://www.facebook.com/knesschat" target="_blank" class="btn btn-circle">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/knesschat" target="_blank" class="btn btn-circle">
                    <i class="fa-brands fa-x"></i>
                </a>
                <a href="https://www.instagram.com/knesschat" target="_blank" class="btn btn-circle">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </footer>
        <div class="bottom-buttons">
            <a href="/mobile" class="bottom-btn left-btn">
                <img class="bottom-btn-img" style="width: 70%;" src="static/images/knesschat-header.svg" alt="Knesschat">
            </a>
            <a href="/guessthekm" class="bottom-btn right-btn">
                <img class="bottom-btn-img" src="static/images/game-header-non.svg" alt="Guess the KM">
            </a>
        </div>  
    </div>

    <div class="container" id="game-container" style="display: none;">
        
        
        <div class="difficulty">
            <button class="difficulty-btn current-level" data-level="קל"><span class="difficulty-number">1.</span> קל</button>
            <button class="difficulty-btn" data-level="בינוני"><span class="difficulty-number">2.</span> בינוני</button>
            <button class="difficulty-btn" data-level="קשה"><span class="difficulty-number">3.</span> קשה</button>
        </div>
        <div class="game-function-container" id="game-function-container">
            <div class="hint-box" id="game-container">
                <img src="/static/images/header/game_icon.svg" id="hint-icon" alt="hint" class="hint-icon">
                <p>שנה ראשונה כח"כ: <span id="year-first"></span></p>
                <p>שנה אחרונה כח"כ: <span id="year-last"></span></p>
                <p>התפקיד המשמעותי: <span id="important-role"></span></p>
                <p>קריירה לפני הפוליטיקה: <span id="career-before"></span></p>
                <p>מפלגה: <span id="party"></span></p>
            </div>
            
            <input type="text" id="user-answer" placeholder="הכנס שם" list="knesset-members">
            <datalist id="knesset-members">
                <!-- Options will be populated dynamically -->
            </datalist>
            <button id="submit-btn">בדיקה</button>
            <p id="result-message"></p>
            
            <button id="skip-btn">דלג לשלב הבא</button>
        </div>
        <div class="bottom-buttons">
            <a href="/mobile" class="bottom-btn left-btn">
                <img class="bottom-btn-img" src="static/images/knesschat_header.png" alt="Knesschat">
            </a>
            <a href="/guessthekm-mobile" class="bottom-btn right-btn">
                <img class="bottom-btn-img" src="static/images/game-header-non.svg" alt="Guess the KM">
            </a>
        </div>  
    </div>
    <!-- Summary Screen -->
    <div class="container" id="summary-container" style="display: none;">
        <div id="time-left"></div>

    </div>
   
</body>
</html>
<script>
      document.getElementById('close-main-footer').addEventListener('click', function() {
        document.getElementById('main-footer').style.display = 'none';
    });
    // Existing popup-footer logic
    document.getElementById('close-footer').addEventListener('click', function() {
        const footer = document.getElementById('popup-footer');
        const icon = document.getElementById('close-footer').querySelector('i');
        footer.classList.toggle('closed');
        if (footer.classList.contains('closed')) {
            icon.classList.remove('fa-arrow-down');
            icon.classList.add('fa-arrow-up');
        } else {
            icon.classList.remove('fa-arrow-up');
            icon.classList.add('fa-arrow-down');
        }
    });
</script>
