<link rel="stylesheet" href="{{ url_for('static', filename='header_style.css') }}">

<table class="header_table">
    <tr>
        <td style="width: 27%;">
            <table id="date_table" style=" width: 100%;height: 100%;">
                <tr>
                    <td class="header_info"><p>ממשלת ישראל ה37 | הכנסת ה25</p></td>
                </tr>
                <tr>
                    <td class="header_info"><p> ט' בניסן ה' תשפ"ג  </p><p> | {{today_date}}</p></td>
                </tr>
            </table>
        </td>
        <td style="width: 50%;">
            <table id="nav_table">
                <td></td>
                <td></td>
                <td></td>
            </table>
        </td>
        <td style="border: 1px solid black;"></td>
    </tr>
</table>    