<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_style.css') }}">
<style>
    .new-badge {
        position: absolute;
        background-color: #4890fd;
        color: white;
        font-size: 0.7vw;
        padding: 2px 6px;
        border-radius: 10px;
        top: -8px;
        right: 6px;
        font-weight: bold;
        transform: rotate(-10deg);
        transition: opacity 0.3s ease;
    }
    .line {
        position: relative;
    }
    .line:hover .new-badge {
        opacity: 0;
    }
</style>
<body>
<table class="header_table">
    <tr>
        <td style="width: 17vw;">
            <table id="date_table">
                <tr>
                    <td class="header_info"><p>ממשלת ישראל ה37 | הכנסת ה25</p></td>
                </tr>
                <tr>
                    <td class="header_info"> {{hebrew_date}} &#x200b;</i><i> | {{today_date}}</td>
                </tr>
            </table>
        </td>
        <td style="width: 20vw;">
            <table>
                <th ><img style="width: 1.5vw; padding-top: 2.3vh;" src="/static/images/header/clock.png"></th>
                <th  data-tooltip="משך כהונת הממשלה"><div class="progress-bar" style="--width: 12" data-label="&#x200b;"></div></th>
            </table>            
        </td>
        <td style="width: 30vw;">
            <table style="float: right; width: 30%;margin-right: 5px; " id="nav_table">
                <th data-tooltip="אודות"><div class="line"><a onclick="change_view(4)" href="#"><img class="nav_icon" src="\static\images\header\info-circle-icon.svg" ></a></div></th>
                <th data-tooltip="בחירות"><div class="line"><a onclick="change_view(7)"><img class="nav_icon" src="static\images\header\elections_icon.png" ><span class="new-badge">חדש</span></a></div></th>
                <th data-tooltip="משחק"><div class="line"><a onclick="change_view(6)"><img class="nav_icon" src="static\images\header\game_icon.svg" ></a></div></th>
                <th data-tooltip="רשויות"><div class="line"><a onclick="change_view(3)" href="#"><img class="nav_icon" src="/static/images/header/governor-building-icon.png" ></a></div></th>
                <th data-tooltip="כלכלה"><div class="line"><a onclick="change_view(2)" href="#"><img class="nav_icon" src="static\images\header\circle-shekel-icon.svg" ></a></div></th>
                <th data-tooltip="דמוגרפיה"><a onclick="change_view(1)"  href="#"><img class="nav_icon" src="/static/images/header/people_icon.png" ></a></th>
            </table>
        </td>
        <td id="logo" style="width: 25vw;"><a href="#" ><img onclick="change_view(0)" style=" float: right;" src="/static/images/header/header-logo.svg" width="100%"></a></td>
    </tr>
</table>    
</body>

<script>
    const progressBar = document.getElementsByClassName('progress-bar')[0]


    window.onload = function() {
        const startDate = "2022-12-29";
        const endDate = "2026-10-1";
        const now = new Date(); // Get the current date and time
        const start = new Date(startDate);
        const end = new Date(endDate);
        
        var percentage = 0
        if (now < start) {
            percentage = 0; // If the current date is before the start date, 0% has passed
        } else if (now > end) {
            percentage = 100; // If the current date is after the end date, 100% has passed
        } else {
            const totalDuration = end - start; // Total time span between the two dates
            const elapsed = now - start; // Time span from the start date to now
            percentage = (elapsed / totalDuration) * 100; // Calculate the percentage
        }
        progressBar.setAttribute('data-label', percentage.toFixed() + "%");

        setInterval(() => {
            const computedStyle = getComputedStyle(progressBar)
            const width = parseFloat(computedStyle.getPropertyValue('--width')) || 0
            if (width >= percentage - 5){
                return
            }
            progressBar.style.setProperty('--width', width + .1)
        }, 7)

    };


    function change_view(id){
        for(var i = 0; i <= 7; i++){
            if(!document.getElementById(i).classList.contains('hidden'))
                document.getElementById(i).classList.toggle('hidden');
        }
        document.getElementById(id).classList.toggle('hidden');

    }
</script>
