<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='knesschat.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap">

</head>

<body>
    <div id="knesschat_header"><img id="knesschat_logo" src="/static/images/knesschat_logo1.png">
        <button id="scrollTopButton" onclick="scrollToTop()">
            <img style="width: 3vh;display: block;align-items: center;margin: auto;" src="/static/images/buttons/up-icon-white.png">
        </button>
    </div>
    <div id="buttons_div">
        <button class="filter_button" type="button">מלחמה</button>
        <button class="filter_button" type="button">חוק הגיוס</button>
        <button class="filter_button" type="button">חטופים</button>
        <button class="filter_button" id="all_button" type="button">כל הציוצים</button>
    </div>
        <div id="chat_div">
 
        </div>

</body>

</html>
<script src="static/js/print_tweets.js"></script>
<script>
    const myDiv = document.getElementById("chat_div");
    const scrollTopButton = document.getElementById("scrollTopButton");

    // Show/hide button based on scroll position
    myDiv.addEventListener("scroll", () => {
        if (myDiv.scrollTop > 0) {
            scrollTopButton.style.display = "block";
        } else {
            scrollTopButton.style.display = "none";
        }
    });
        // Function to scroll to top of the div
    function scrollToTop() {
        myDiv.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
    
</script>
<script>
    function getAllTweets() {
        fetch('/get_all_tweets', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            displayTweets(data, 'chat_div');
        })
        .catch(error => {
            console.error('Error fetching tweets:', error);
        });
    }

     // Call getAllTweets on DOMContentLoaded
 document.addEventListener('DOMContentLoaded', getAllTweets);
</script>