<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='knesschat.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap">

</head>

<body>
    <div id="knesschat_header"><img id="knesschat_logo" src="/static/images/knesschat_logo1.png">
        <button id="scrollTopButton" onclick="scrollToTop()">
            <img style="width: 3vh;display: block;align-items: center;margin: auto;" src="/static/images/buttons/up-icon-white.png">
        </button>
    </div>
    <div id="buttons_div">
        <button class="filter_button" onclick="filterTweets(this, 'מלחמה')" type="button">מלחמה</button>
        <button class="filter_button" onclick="filterTweets(this, 'חוק הגיוס')" type="button">חוק הגיוס</button>
        <button class="filter_button" onclick="filterTweets(this, 'חטופים')" type="button">חטופים</button>
        <button class="filter_button" id="all_button" onclick="filterTweets(this, 'all')" type="button">כל הציוצים</button>
    </div>
        <div id="chat_div">
 
        </div>

</body>

</html>
<script src="static/js/print_tweets.js"></script>
<script>
    const myDiv = document.getElementById("chat_div");
    const scrollTopButton = document.getElementById("scrollTopButton");
    // Function to filter tweets based on the topic
    function filterTweets(button, topic) {
        // Remove the 'active' class from all buttons
        const buttons = document.querySelectorAll('.filter_button');
        buttons.forEach(btn => btn.classList.remove('active'));

        // Add the 'active' class to the clicked button
        button.classList.add('active');

        // Fetch and display tweets based on the topic
        if (topic === 'all') {
            getAllTweets();
        } else {
            get_tweets_by_topic(topic);
        }
    }
    // Show/hide button based on scroll position
    myDiv.addEventListener("scroll", () => {
        if (myDiv.scrollTop > 0) {
            scrollTopButton.style.display = "block";
        } else {
            scrollTopButton.style.display = "none";
        }
    });
        // Function to scroll to top of the div
    function scrollToTop() {
        myDiv.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
    
</script>
<script>
    function getAllTweets() {
        fetch('/get_all_tweets', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            displayTweets(data, 'chat_div');
        })
        .catch(error => {
            console.error('Error fetching tweets:', error);
        });
        scrollToTop();
    }

    function get_tweets_by_topic(topic) {
        fetch('/get_tweets_by_topic', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ topic: topic })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            displayTweets(data, 'chat_div');
        })
        .catch(error => {
            console.error('Error fetching tweets:', error);
        });
        scrollToTop();
    }

     // Call getAllTweets on DOMContentLoaded
 document.addEventListener('DOMContentLoaded', getAllTweets);
</script>