
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='knesschat-close.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="sidebar_header">
            <div class="logo">
                <img id="logo" src="/static/images/logo.png">
            </div>
        </div>
       
        <div class="tweets_div">
            {% if km_data %}
                {% for km in km_data %}
                        <span class="img_span_close" 
                            {% if km['is_coalition'] == False %} id="oposition_img" {% else %} id="coalition_img" {% endif %} 
                            style="background-image: url({{ km['image'] }})"
                            onclick="getKmTweets('{{ km['twitter_id'] }}')">
                            <span class="badge"><p>{{ km['tweet_count']}}</p></span>
                        </span>
                    {% endfor %}
            {% else %}
                <p>No tweets data available</p>
            {% endif %}
        </div>
    </div>
</body>
<script>
    function getKmTweets(twitter_id) {
    fetch('/get_km_tweets', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ twitter_id: twitter_id })
    })
    .then(response => response.json())
    .then(data => {
        displayTweets(data, 'chat_div');
    })
    .catch(error => {
        console.error('Error fetching tweets:', error);
    });
}
</script>