
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='knesschat-close.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="sidebar_header">
            <div class="logo">
                <img id="logo" src="/static/images/logo-icon-nobg.png">
            </div>
        </div>
       
        <div class="tweets_div">
            {% if km_data %}
                {% for km in km_data %}
                    {% if km['twitter_feed_id'] != None %}
                        <span class="defualt_img" style="z-index: 1; background-image: url('static\\images\\KMs\\default-km.svg');">
                            <span class="img_span_close"
                                {% if km['is_coalition'] == False %} id="oposition_img" {% else %} id="coalition_img" {% endif %} 
                                style="z-index: 10; 
                                background-image: url('{{ url_for('static', filename=km['image'].lstrip('static/').replace('\\', '/')) }}');"
                                onclick="set_km_feed_id('{{ km['twitter_feed_id'] }}')">
                                <!--<span class="badge"><p>{{ km['tweet_count']}}</p></span>-->
                            </span>

                        </span>
                    {% else %} 
                        <span></span>
                    {% endif %}
                    {% endfor %}
            {% else %}
                <p>No tweets data available</p>
            {% endif %}
        </div>
    </div>
</body>

<script>
    function set_km_feed_id(km_feed_id) {
        console.log('set_km_feed_id', km_feed_id);
        set_twitter_feed(km_feed_id);

    }
</script>
<!--
<script>
    function getKmTweets(twitter_id) {
    fetch('/get_km_tweets', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ twitter_id: twitter_id })
    })
    .then(response => response.json())
    .then(data => {
        displayTweets(data, 'chat_div');
    })
    .catch(error => {
        console.error('Error fetching tweets:', error);
    });
}
</script>
-->
