<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הכנסצ'אט - מצב האומה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <header id="header" >
            <img id="knesschat_logo" onclick="scrollToTop()" src="static/images/header/mobile-header-logo.png">
        </header>

        <div id="feed" class="feed scrollable">
            <div class="loading-screen" id="loader">טוען הודעות...</div>
            <div class="tweets_feed">
                <rssapp-feed id="_1Db1KUX9hYApsDtI"></rssapp-feed><script src="https://widget.rss.app/v1/feed.js" type="text/javascript" async></script>
            </div>
            <footer>
                <p class="cta">
                    רוצים לדעת <span class="highlight-blue">מה המצב האמיתי</span> של מדינת ישראל?
                </p>
                <p class="cta-desc">היכנסו לאתר מהמחשב או עקבו:</p>
                <div class="buttons">
                    <button class="btn btn-share"></button>
                    <button class="btn btn-twitter"></button>
                    <button class="btn btn-facebook"></button>
                    <button class="btn btn-instagram"></button>
                </div>
            </footer>
            <!--
            <footer id="popup-footer" class="popup-footer">
                <span id="close-footer" class="close-footer"><i class="fas fa-arrow-down"></i></span>

                <div class="footer-content">
                    <p class="text">
                        נמאס לכם <span class="highlight-blue">שערוצי טלוויזיה</span> משדרים חדשות ופרשנויות שסותרות אחת את השנייה?
                    </p>
                    <p class="text">
                        שאלגוריתמים  <span class="highlight-blue">ברשתות החברתיות</span> קובעים לאיזה מידע תחשפו ולאיזה לא?
                    </p>
                    <p class="text">
                        <span class="highlight-blue">שפוליטיקאים</span> מנסים לשכנע אתכם שהמצב מצוין או גרוע לפי האינטרס האישי שלהם?
                    </p>
                    <p class="cta">
                        רוצים לדעת <span class="highlight-blue">מה המצב האמיתי</span> של מדינת ישראל?
                    </p>
                    <p class="cta-desc">היכנסו לאתר מהמחשב או עקבו:</p>
                    <div class="buttons">
                        <button class="btn btn-green"></button>
                        <button class="btn btn-black"></button>
                        <button class="btn btn-blue"></button>
                    </div>
                </div>
        
            </footer>
            -->
        </div>
    </div>
</body>
</html>

<script>
   function scrollToTop() {
    document.getElementById("feed").scrollTo({
        top: 0,
        behavior: "smooth"
    });
}

    setTimeout(() => {
        document.getElementById('loader').style.display = 'none';
    }, 5000); // Hide after 5 seconds

    document.getElementById('close-footer').addEventListener('click', function() {
        const footer = document.getElementById('popup-footer');
        const icon = document.getElementById('close-footer').querySelector('i');
        footer.classList.toggle('closed');
        if (footer.classList.contains('closed')) {
            icon.classList.remove('fa-arrow-down');
            icon.classList.add('fa-arrow-up');
        } else {
            icon.classList.remove('fa-arrow-up');
            icon.classList.add('fa-arrow-down');
        }
    });
</script>
