
<link rel="stylesheet" href="{{ url_for('static', filename='offices_style.css') }}">
<span class="explain_span" onclick="openExplainModal()"><img class="explain_icon" style="width: 2vw;display: block;margin: auto;margin-top: 15%;" src="/static/images/offices/question_mark.png"></span>

{% macro render_office(office, office_cells, position, main_bubble_id, border_style) %}
<table class="{{ position }}" style="{{ border_style }}">
    {% for row in office_cells %}
    <tr>
        {% for cell in row %}
            {% if cell.cell_type == "space" %}
                <td></td>
            {% elif cell.cell_type == "main_bubble" %}
                <td>
                    <span class="main_bubble" id="{{ main_bubble_id }}" 
                          data-tooltip="{{ office['name'] }}" 
                          style="background-image: url({{ office['minister_image'] }});"></span>
                </td>
            {% else %}
                <td>
                    <div class="transform_div">
                        <span class="{{ cell.size }} {% if cell.alert %} alert_bubble {% else %} {{ cell.cell_type }} {% endif %}"
                                {% if cell.name !="" %}
                                    data-tooltip="{{ cell.name }}"
                                {% endif %}
                                data-name="{{ cell.name }}"
                                data-info="{{ cell.info }}"
                                data-icon="{{ cell.icon }}"
                                data-chart="{{ cell.chart_type }}"
                                data-labels="{{ cell.labels }}"
                                data-values="{{ cell.values | tojson }}"
                                
                                office-name="{{ office['name'] }}"
                                office-minister="{{ office['minister_name'] }}"
                                office-minister-image="{{ office['minister_image'] }}"
                                office-minister-party="{{ office['minister_party'] }}"
                                office-minister-role="{{ office['minister_role'] }}"
                                office-minister-history="{{ office['ministers_history'] }}"

                                onclick="openModal(this)">
                            {% if cell.icon %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="{{ cell.icon }}" alt="{{ cell.name }}">
                            {% else %}
                                <img class="bubble_icon {{ cell.size }}_icon" src="/static/images/offices/{% if cell.cell_type == 'kpi' %}kpi/white_bag.png{% else %}policy/grey_bag.png{% endif %}" alt="{{ cell.name }}">
                            {% endif %}
                        </span>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}

<table id="main_table">
    <tr>
        <td>{{ render_office(offices[0], first_office_cells, "up-left", "main_upper_left", "border-right: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to bottom, #fff,  #838383);") }}</td>
        <td>{{ render_office(offices[1], second_office_cells, "up-right", "main_upper_right", "border-bottom: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to right, #838383, #f2f2f2);") }}</td>
    </tr>
    <tr>
        <td>{{ render_office(offices[2], third_office_cells, "down-left", "main_bottom_left", "border-top: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(to left, #838383, #f2f2f2);") }}</td>
        <td>{{ render_office(offices[3], forth_office_cells, "down-right", "main_bottom_right", "border-left: 6px solid; border-image-slice: 1; border-width: 0.8vh; border-image-source: linear-gradient(#838383, #f2f2f2);") }}</td>
    </tr>
</table>


<!-- KPI Modal -->
<dialog kpi-modal class="kpi-modal">
    <div class="modal-content">
        <table class="modal-info-table">
            <tr>
                <button onclick="closeModal()" class="close_button">X</button>
                <th style="width: 65%;">
                    <p id="modal-info-kpi" style="font-size: 2.5vh; float: right;"></p>
                </th>
                <th style="padding: 0; height: 100%; float: right;margin:0;">
                    <div style="width: 100%;height: 4vh; border-bottom: .4vh solid #4890FD;position: relative;">
                        <span style=" bottom: 0;right: 0;"><p id="modal-office-kpi" style="font-size: 4vh; padding: 0;line-height: .9;"><p></span>
                    </div>
                    <p id="modal-name-kpi" style="float: right; margin: 0;padding: 0; font-size: 3.4vh;line-height: 1;"></h3>
                </th>
                <th  style="width: 5%; margin:0;padding: 0; ">
                    <span style="margin: 0;height: 6vw;width: 6vw; background: radial-gradient(#6ba4fa, #447dd3); border-radius: 50%;float: left;margin-top: 3vh;">
                        <img class="bubble_icon large_icon" id="modal-icon-kpi" src="/static/images/offices/kpi/white_bag.png">
                    </span>
                </th>   
            </tr>
        </table>
        <div id="graph_div_kpi" class="chart-div">
            <canvas class="chart" id="kpi_chart"></canvas>
            <div id="timeline" class="timeline"></div>

        </div>
        <!-- Timeline container -->
        
        <button onclick="" class="share_button">Share</button>
    </div>
</dialog>

<!-- Policies Modal -->
<dialog policies-modal class="policies-modal">
    <div class="modal-content">
        <table class="modal-info-table">
            <tr>
                <button onclick="closeModal()" class="close_button">X</button>
                <th style="width: 60%; ">
                    <p id="modal-info-policy" style="font-size: 1rem;"></p>
                </th>
                <th style="margin-bottom: 5vh; min-width: 20%; height: 100%; float: right;">
                    <div style="width: 100%;height: 5vh; border-bottom: 2px solid #c3c3c3;">
                        <p id="modal-office-policy" style="font-size: 1.3rem; padding: 0; "><p>
                    </div>
                    <p id="modal-name-policy" style="float: right; margin: 0;padding: 0; font-size: 1rem; "></h3>
                </th>
                <th  style="width: 5%; ">
                    <span style="height: 6vw;width: 6vw; background: radial-gradient(#e3e3e3, #c3c3c3); border-radius: 50%;float: left;margin: 0;">
                        <img class="bubble_icon large_icon" id="modal-icon-policy" src="/static/images/offices/policy/grey_bag.png">
                    </span>
                </th>   
            </tr>
        </table>
        <div id="graph_div_kpi" class="chart-div">
            <canvas class="chart" id="policies_chart"></canvas>
        </div>
        <button onclick="" class="share_button">Share</button>
    </div>
</dialog>

<!-- Info Modal -->
<dialog explain-modal class="explain-modal">
    <button class="close_button" onclick="closeModal()" style="display: block;" id="close_button" >X</button>
    <img style="width: 100%; height: 90vh;" src="/static/images/offices/explain.png">
</dialog>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const kpiModal = document.querySelector("[kpi-modal]");
    const policiesModal = document.querySelector("[policies-modal]");
    const explainModal = document.querySelector("[explain-modal]");

    // Store charts in a global object to manage them easily
    const charts = {};

    function closeModal() {
        kpiModal.close();
        policiesModal.close();
        explainModal.close();

        // Destroy all active charts to clear data
        if (charts["kpi_chart"]) {
            charts["kpi_chart"].destroy();
            delete charts["kpi_chart"];
        }
        if (charts["policies_chart"]) {
            charts["policies_chart"].destroy();
            delete charts["policies_chart"];
        }
    }

    function openModal(cellElement) {
        // index info
        const name = cellElement.getAttribute("data-name");
        const info = cellElement.getAttribute("data-info");
        const chart = cellElement.getAttribute("data-chart");
        const icon = cellElement.getAttribute("data-icon");
        const labels = JSON.parse(cellElement.getAttribute("data-labels"));
        const values = JSON.parse(cellElement.getAttribute("data-values"));
        
        // office info
        const office_name = cellElement.getAttribute("office-name");
        const minister_name = cellElement.getAttribute("office-minister");
        const minister_image = cellElement.getAttribute("office-minister-image");
        const minister_party = cellElement.getAttribute("office-minister-party");
        const office_minister_role = cellElement.getAttribute("office-minister-role");

        // timeline info
        const ministers_history = JSON.parse(cellElement.getAttribute("office-minister-history"));
        const totalDuration = Date.parse(labels[labels.length - 1]) - Date.parse(labels[0]);
        const totalDuration1 = Date.parse(ministers_history[ministers_history.length - 1]["start_date"]) - Date.parse(ministers_history[0]["start_date"]);

        const dates = [];
        // Instert all the ministers first dates into array
        for (let i = 0; i < ministers_history.length; i++) {
                    dates[i] = ministers_history[i]["start_date"];  
                }


        // call the function to create the timeline
        let first_graph_date = labels[0];
        createTimeline(ministers_history, totalDuration,first_graph_date,labels,dates);
        
        
        // modals objects
        if (cellElement.classList.contains('kpi') || cellElement.classList.contains('alert_bubble')) {
            document.getElementById("modal-name-kpi").textContent = name;
            document.getElementById("modal-info-kpi").textContent = info;
            document.getElementById("modal-office-kpi").textContent = office_name;
            document.getElementById("modal-icon-kpi").src = icon;

            updateChart("kpi_chart", labels, values, chart, name);
            kpiModal.showModal();
        } else if (cellElement.classList.contains('policy')) {
            document.getElementById("modal-name-policy").textContent = name;
            document.getElementById("modal-info-policy").textContent = info;
            document.getElementById("modal-office-policy").textContent = office_name;
            document.getElementById("modal-icon-policy").src = icon;

            updateChart("policies_chart", labels, values, chart, name);
            policiesModal.showModal();
        }
    }
    
    function createTimeline(ministers_history, totalDuration1,first_graph_date,lables,dates) {
        
        let currentDate = new Date().toJSON().slice(0, 7);

        const colors = ["#FF6B6B", "#6EC1E4", "#90EE90", "#FFD56B", "#C9A0DC"];

        const labels_length = lables.length;

        // Clear previous timeline content
        const timeline = document.getElementById("timeline");
        timeline.innerHTML = "";  // This removes all child elements

       
        // Adding today's date to the end of the dates array
        dates.push(lables[labels_length - 1]+"-12")

        
        if (dates[0] < first_graph_date){
            dates[0] = first_graph_date
        }
        
        let widthPercent;
        let previous_date = 0;

       
        // Generate each era div
        for (let i = 0; i < dates.length - 1; i++) {
            
            
            
            
            // if the labales are years and months calculate the widths like this
            if (lables[0].length == 7){
                for(let j = 0; j < labels_length; j++){
                if (lables[j] == dates[i + 1]){ // check if the current label queal to the end of the era date
                    widthPercent = (j - previous_date) / labels_length * 100; // calculate the precentage of the number of labales in the era from the overall labales 
                    previous_date = j; // set the previous date parameter to the this label
                    }
                }
            }
            else{ // if the labales are only years
                // Calculate the duration of this period
                const periodDuration = Date.parse(dates[i + 1]) - Date.parse(dates[i]);

                // Calculate width as a percentage of total duration
                widthPercent = (periodDuration / totalDuration1) * 100;
            }
           
            // Create div for this era
            const eraDiv = document.createElement("div");
            eraDiv.className = "era";
            eraDiv.style.width = widthPercent + "%";
            eraDiv.style.backgroundColor = colors[i % colors.length];  // Cycle through colors
            
            // Set the era div info for the minister
            const ministerData = ministers_history[i];

            // Create and append minister image
            const ministerImage = document.createElement("img");
            ministerImage.src = ministerData["image"]; // Replace with actual image property
            ministerImage.alt = `${ministerData.name} image`; // Alt text for accessibility
            ministerImage.style.width = "7vh"; // Adjust size as needed
            ministerImage.style.height = "auto"; // Maintain aspect ratio
            ministerImage.style.border = ".3vh solid "+colors[i % colors.length]; // Maintain aspect ratio
        
        
            // Create a container for the minister's name and party
            const ministerInfoContainer = document.createElement("div");
            ministerInfoContainer.style.textAlign = "right"; // Aligns content to the right
            ministerInfoContainer.style.direction = "rtl"; // RTL for Hebrew or Arabic
            ministerInfoContainer.style.margin = 0;

            // Create and append minister name
            const ministerName = document.createElement("p");
            ministerName.textContent = ministerData["name"];
            ministerName.style.fontWeight = "bold";
            ministerName.style.margin = 0;

            // Create and append minister party
            const ministerParty = document.createElement("p");
            ministerParty.textContent = ministerData["party"];
            ministerParty.style.margin = 0;

            // Create and append start and end dates
            const dateInfo = document.createElement("p");
            dateInfo.textContent = ` ${ministerData.start_date} `; // Adjust as necessary
            dateInfo.style.position = "absolute";
            dateInfo.style.marginTop = "15vh";
            dateInfo.style.fontSize = "1.8vh";
            dateInfo.style.color = "grey";
            dateInfo.style.fontWeight = "bold";


            // Append the info container to the eraDiv
            console.log(widthPercent)
            if (widthPercent < 5) {

            } else if (widthPercent >= 5 && widthPercent < 10) {
                eraDiv.appendChild(dateInfo);
                eraDiv.appendChild(ministerImage);
            } else {
                eraDiv.appendChild(dateInfo);
                eraDiv.appendChild(ministerImage);
                ministerInfoContainer.appendChild(ministerName);
                ministerInfoContainer.appendChild(ministerParty);
                eraDiv.appendChild(ministerInfoContainer);

            }
            
            

            // Append to timeline container
            timeline.appendChild(eraDiv);
        }
    }

    function updateChart(chartId, labels, values, chart, name,dates) {
         // Destroy existing chart if it exists
         if (charts[chartId]) {
            charts[chartId].destroy();
        }

        const ctx = document.getElementById(chartId).getContext("2d");
        charts[chartId] = new Chart(ctx, {
            type: chart,
            data: {
                labels: labels,
                datasets: [{
                    label: name,
                    data: values,
                    fill: true,
                    borderColor: "#4890FD",
                    backgroundColor: "rgb(208, 226, 252)",
                    borderWidth: 2,
                    lineTension: 0.5
                }]
            },
            options: {
                responsive: true,
                plugins: { legend: { display: false } },
                scales: { x: { 
                    ticks: {
                    stepSize: 5, // Show grid lines every 5 units
                    },
                    grid: { 
                        display: false 
                    
                    } } }
            }
        });
    }

    function openExplainModal(){
        explainModal.showModal();
    }
</script>