
<link rel="stylesheet" href="{{ url_for('static', filename='offices_style.css') }}">
<span class="explain_span"><img class="explain_icon" style="width: 2.5vw;display: block;margin: auto;margin-top: 2px;" src="/static/images/offices/question_mark.png"></span>

<table id="main_table">
    <tr>
        <td>
            <table class="up-left">
                <tr><td></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"><img class="kpi_icon" style="width: 3vw;" src="/static/images/offices/white_glass_icon.png"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td></td></tr>
                <tr>         <td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td></tr>
                <tr>         <td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td></tr>
                <tr><td></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"><img class="policies_icon" style="width: 2vw;" src="/static/images/offices/grey_glass_icon.png"></span></div></td><td><div class="transform_div"><span class="policies_bubble"  style="width: 3vw; height: 3vw;"></span></div></td><td><span class="main_bubble" style=" background-image: url('/static/images/KMs/galant.jpg'); background-size: cover;"></span></td></tr>
            </table>
        </td>
        <td>
            <table style="border-bottom: 6px solid; border-image-slice: 1; border-width: 0.8vh;  border-image-source: linear-gradient(to right, #838383, #ffffff);">
                <tr><td></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></div></td></tr>
                <tr>         <td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td></tr>
                <tr>         <td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></div></td></tr>
                <tr>         <td><span class="main_bubble"></span></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td></td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table  style="border-top: 6px solid; border-image-slice: 1; border-width: 0.8vh;  border-image-source: linear-gradient(to left, #838383, #ffffff);">
                <tr><td></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><span class="main_bubble"></span></td></tr>
                <tr>         <td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></div></td></tr>
                <tr>         <td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></div></td></tr>
                <tr><td></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></div></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></div></td><td></td></tr>
            </table>
        </td>
        <td>
            <table  style="border-left: 6px solid; border-image-slice: 1; border-width: 0.8vh;  border-image-source: linear-gradient( #838383, #ffffff);">
                <tr>         <td><span class="main_bubble"></span></td><td><div class="transform_div"><span class="policies_bubble" style="width: 3vw; height: 3vw;"></span></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></td><td></td></tr>
                <tr>         <td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></td><td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></td></tr>
                <tr>         <td><div class="transform_div"><span class="policies_bubble" style="width: 4vw; height: 4vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 4vw; height: 4vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></td></tr>
                <tr><td></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 3vw; height: 3vw;"></span></td><td><div class="transform_div"><span class="kpi_bubble" style="width: 5vw; height: 5vw;"></span></td><td></td></tr>
            </table>
        </td>
    </tr>
</table>


<dialog kpi-modal class="kpi_modal">
    <button close_modal onclick="close_moadal()" id="close_button" >X</button>

    <table style="width: 100%; margin: 0px; padding: 0px;height: 10%;">
        <tr style="height: 30px;">
            <th>
            </th>
            <th style="width: 43%;">
               
            </th>
            <th style="float: right;padding-top: 5px;">
                <div style="border-bottom: 2px solid #4890FD;"><p style="font-size: 1.3rem; padding: 0; margin: 0;">המשרד לביטחון לאומי</h1></div>
                <p style="float: right; margin: 0;padding: 0; font-size: 1rem;">מספר פיגועים בחודש</h3>
            </th>
            <th style="width: 5%;"> 
                <span style="height: 5vw;width: 5vw;background: radial-gradient(#75acff, #2b80ff );border-radius: 50%;float: left;"></span>
            </th>
        </tr>
        <tr>
            <table style="height: 60%; text-align: right;">
                <tr>
                    <th>
                        <div id="graph_div" style="width: 65vw; height: 40vw; margin: 0; padding: 0;">
                            <canvas id="lineChart" width="500" width="400" style="margin: 0; padding: 0;"></canvas>
                            <script src="
                            https://cdn.jsdelivr.net/npm/chart.js
                            "></script>                           
                            <script>  
                                var ctx = document.getElementById('lineChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: {{ lables | safe }},
                                        datasets: [{
                                            label: 'Example Dataset',
                                            data: {{ values | safe }},
                                            fill: true, 
                                            borderColor: '#4890FD',
                                            borderWidth: 2,
                                            lineTension: 0.5,
                                            backgroundColor: 'rgb(208, 226, 252)'
                                        }]
                                    },
                                    options: {
                                        // Specify options here if needed
                                    }
                                });
                            </script>
                        </div>
                    </th>
                    <th style="width: 80%; float: right; direction: rtl; padding:0;">
                        <p style="direction: rtl; font-size: 1rem; float: right;margin-right: 30px;">מספר הפיגועים בישראל בכל חודש בישראל ויהודה ושומרון. 
                            המספר מציג את כלל הפיגועים עם נפגעים וללא נפגעים.</p>
                    </th>
                </tr>
            </table>
        </tr>
        <tr>

        </tr>
    </table>
</dialog>

<dialog policies-modal class="policies_modal">
    <button close_modal onclick="close_moadal()" id="close_button" >X</button>

    <table style="width: 100%; margin: 0px; padding: 0px;height: 10%;">
        <tr style="height: 30px;">
            <th>
            </th>
            <th style="width: 43%;">
               
            </th>
            <th style="float: right;padding-top: 5px;">
                <div style="border-bottom: 2px solid #cfcfcf;"><p style="font-size: 1.3rem; padding: 0; margin: 0;">המשרד לביטחון לאומי</h1></div>
                <p style="float: right; margin: 0;padding: 0; font-size: 1rem;">מספר פיגועים בחודש</h3>
            </th>
            <th style="width: 5%;">
                <span style="height: 5vw;width: 5vw;background: radial-gradient(#e3e3e3, #c3c3c3);border-radius: 50%;float: left;"></span>
            </th>
        </tr>
        <tr>
            <table style="height: 60%; text-align: right;">
                <tr>
                    <th>
                        <div id="graph_div">
                        </div>
                    </th>
                    <th style="width: 40%; float: right; direction: rtl; ">
                        <p style="direction: rtl; font-size: 1rem; float: right;margin-right: 30px;">מספר הפיגועים בישראל בכל חודש בישראל ויהודה ושומרון. 
                            המספר מציג את כלל הפיגועים עם נפגעים וללא נפגעים.</p>
                    </th>
                </tr>
            </table>
        </tr>
        <tr>
        </tr>
    </table>
</dialog>

<dialog explain-modal class="explain_modal">
    <button close_modal onclick="close_moadal()" style="display: block;" id="close_button" >X</button>
    <img style="width: 75vw; height: 45vw; margin-left:6rem;" src="/static/images/offices/explain.png">
</dialog>


<script>
    const kpi_modal = document.querySelector("[kpi-modal]")
    const policies_modal = document.querySelector("[policies-modal]")
    const explain_modal = document.querySelector("[explain-modal]")
    const closeB = document.querySelector("[close_modal]")

    

    function close_moadal(){
        kpi_modal.close()
        policies_modal.close()
        explain_modal.close()
    }

    document.body.onclick = function(e) {   //when the document body is clicked
    if (window.event) {
        e = event.srcElement;           //assign the element clicked to e (IE 6-8)
    }
    else {
        e = e.target;                   //assign the element clicked to e
    }

    if (e.className && e.className.indexOf('kpi_bubble') != -1 || e.className && e.className.indexOf('kpi_icon') != -1) {
        //if the element has a class name, and that is 'someclass' then...
        kpi_modal.showModal()
    } else if (e.className && e.className.indexOf('policies_bubble') != -1 || e.className && e.className.indexOf('policies_icon') != -1) {
        policies_modal.showModal()
    } else if (e.className && e.className.indexOf('explain_span') != -1 || e.className && e.className.indexOf('explain_icon') != -1) {
        explain_modal.showModal()
    }
    else{

    }
    

}
</script>