
<style>
    .knesset-table{
        width: 80%;
        height: 80%;
        border: 1px solid black;
        margin-left: 5%;

    }
    .sit-span{
        width: 4vw;
        height: 4vw;
        background-color: rgb(63, 63, 209);
        border-radius: 50%;
        display:block;
        padding: 0;
        margin-left: 0vw;
        margin: auto;

    }
    td{
        width: 2vw;
        border: 1px solid black;
        padding: 2px;
        margin: 0;
    }
</style>

<div>
    <table class="knesset-table">
        <tr style="width: 100%; border: 1px solid black;">
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
            <td><span class="sit-span"></span></td>
        </tr>
        <tr style="width: 100%; border: 1px solid black;">
            <td><span class="sit-span"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="sit-span"></span></td>
        </tr>
            
    </table>
</div>