<link rel="stylesheet" href="{{ url_for('static', filename='parlament.css') }}">

<div>
    <table class="knesset-table">
        {% for i in range(left_section|length) %}
            <tr>
                <!-- Left Section Cells for Row i -->
                {% for seat in left_section[i] %}
                    <td class="left-section">
                        {% if seat != "space" %}
                            <span class="seat-span" style="background-color: {% include 'party_color.html' %};"></span>
                        {% endif %}
                    </td>
                {% endfor %}
    
                <!-- Center Section Cells for Row i -->
                {% for seat in center_section[i] %}
                    <td class="center-section">
                        {% if seat != "space" %}
                            <span class="seat-span" style="background-color: {% include 'party_color.html' %};"></span>
                        {% endif %}
                    </td>
                {% endfor %}
    
                <!-- Right Section Cells for Row i -->
                {% for seat in right_section[i] %}
                    <td class="right-section">
                        {% if seat != "space" %}
                            <span class="seat-span" style="background-color: {% include 'party_color.html' %};"></span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>