<link rel="stylesheet" href="{{ url_for('static', filename='parlament.css') }}">

<div>
    <table class="knesset-table">
        {% for row in parlament %}
            <tr>
                {% for seat in row %}
                    <td>
                        {% if seat != "space" %}
                            <span class="seat-span" 
                                  style="
                                        background-color:
                                        {% if seat.party == 'הליכוד' %} blue
                                        {% elif seat.party == 'יש עתיד' %} orange
                                        {% elif seat.party == 'המחנה הממלכתי' %} lightblue
                                        {% elif seat.party == 'העבודה' %} purple
                                        {% elif seat.party == 'עוצמה יהודית' %} yellow
                                        {% elif seat.party == 'הציונות הדתית' %} green
                                        {% elif seat.party == 'תקווה חדשה' %} darkblue
                                        {% elif seat.party == 'שס' %} black
                                        {% elif seat.party == 'יהדות התורה' %} pink

                                        {% else %} gray
                                        {% endif %};"></span>
                            
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>    
</div>