{% if seat.party == 'הליכוד' %} #4169E1
{% elif seat.party == 'יש עתיד' %} #FF7F50
{% elif seat.party == 'המחנה הממלכתי' %} #6A5ACD
{% elif seat.party == 'העבודה' %} #6A0DAD
{% elif seat.party == 'עוצמה יהודית' %} #FFD700
{% elif seat.party == 'הציונות הדתית' %} #50C878
{% elif seat.party == 'תקווה חדשה' %} #00008B
{% elif seat.party == 'שס' %} #000000
{% elif seat.party == 'יהדות התורה' %} grey
{% elif seat.party == 'רעמ' %} green
{% elif seat.party == 'חדש-תעל' %} lightblue
{% elif seat.party == 'ישראל ביתנו' %} blue
{% elif seat.party == 'נעם' %} brown


{% else %} #808080
{% endif %}
