{% if seat.party == 'הליכוד' %} #4169E1
{% elif seat.party == 'יש עתיד' %} #ffb326
{% elif seat.party == 'המחנה הממלכתי' %} lightblue
{% elif seat.party == 'העבודה' %} #6A0DAD
{% elif seat.party == 'עוצמה יהודית' %} #ff702e
{% elif seat.party == 'הציונות הדתית' %} #8dc035
{% elif seat.party == 'תקווה חדשה' %} #00008B
{% elif seat.party == 'שס' %} #363636
{% elif seat.party == 'יהדות התורה' %} #1a4082
{% elif seat.party == 'רעמ' %} green
{% elif seat.party == 'חדש-תעל' %} #db2121
{% elif seat.party == 'ישראל ביתנו' %} #251aa1
{% elif seat.party == 'נעם' %} #80caff


{% else %} #808080
{% endif %}
