{% if party == 'הליכוד' %} #4169E1
{% elif party == 'יש עתיד' %} #ffb326
{% elif party == 'המחנה הממלכתי' %} lightblue
{% elif party == 'העבודה' %} #6A0DAD
{% elif party == 'עוצמה יהודית' %} #ff702e
{% elif party == 'הציונות הדתית' %} #8dc035
{% elif party == 'תקווה חדשה' %} #00008B
{% elif party == 'שס' %} #363636
{% elif party == 'יהדות התורה' %} #1a4082
{% elif party == 'רעמ' %} green
{% elif party == 'חדש-תעל' %} #db2121
{% elif party == 'ישראל ביתנו' %} #251aa1
{% elif party == 'נעם' %} #80caff


{% else %} #808080
{% endif %}
